In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("call_histories_u.csv")

In [3]:
df.dropna(inplace=True)
df.reset_index(inplace=True)
df

,index,member_phone,phone,type,time,in_contact,duration
0,0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24
1,1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0
2,2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920
3,3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7
4,4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...,...
1045843,1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0
1045844,1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7
1045845,1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14
1045846,1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0
1045847,1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045848 entries, 0 to 1045847
Data columns (total 7 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   index         1045848 non-null  int64
 1   member_phone  1045848 non-null  float64
 2   phone         1045848 non-null  object
 3   type          1045848 non-null  int64
 4   time          1045848 non-null  object
 5   in_contact    1045848 non-null  int64
 6   duration      1045848 non-null  int64
dtypes: float64(1), int64(4), object(2)
memory usage: 55.9+ MB

In [5]:
df.loc[df.phone.isnull()]

Empty DataFrame
Columns: [index, member_phone, phone, type, time, in_contact, duration]
Index: []

In [6]:
df.member_phone=df.member_phone.astype('int64').astype('string').astype('object')
#số lượng member
df.member_phone.unique().shape
df

,index,member_phone,phone,type,time,in_contact,duration
0,0,84931768866,84906806868,1,9/10/2020 8:03,1,24
1,1,84931768866,84868173583,4,9/9/2020 10:40,1,0
2,2,84931768866,84898585959,1,9/8/2020 19:51,1,920
3,3,84931768866,84356386381,1,9/11/2020 17:38,0,7
4,4,84931768866,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...,...
1045843,1048570,84987575765,84866824824,4,2/2/2021 12:51,0,0
1045844,1048571,84987575765,84974567612,2,2/2/2021 11:55,1,7
1045845,1048572,84987575765,84869056447,2,2/2/2021 11:45,0,14
1045846,1048573,84987575765,84973563533,3,2/2/2021 9:57,1,0
1045847,1048574,84987575765,84973563533,3,2/2/2021 9:56,1,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045848 entries, 0 to 1045847
Data columns (total 7 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   index         1045848 non-null  int64
 1   member_phone  1045848 non-null  object
 2   phone         1045848 non-null  object
 3   type          1045848 non-null  int64
 4   time          1045848 non-null  object
 5   in_contact    1045848 non-null  int64
 6   duration      1045848 non-null  int64
dtypes: int64(4), object(3)
memory usage: 55.9+ MB

In [8]:
# tổng sdt
sdt=pd.DataFrame({'phone': np.append(df.phone.unique(),df.member_phone.unique())})
sdt.phone.unique().shape

(239480,)

In [9]:
df.type.unique()

array([1, 4, 3, 2], dtype=int64)

In [10]:
data=df.copy()
data

,index,member_phone,phone,type,time,in_contact,duration
0,0,84931768866,84906806868,1,9/10/2020 8:03,1,24
1,1,84931768866,84868173583,4,9/9/2020 10:40,1,0
2,2,84931768866,84898585959,1,9/8/2020 19:51,1,920
3,3,84931768866,84356386381,1,9/11/2020 17:38,0,7
4,4,84931768866,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...,...
1045843,1048570,84987575765,84866824824,4,2/2/2021 12:51,0,0
1045844,1048571,84987575765,84974567612,2,2/2/2021 11:55,1,7
1045845,1048572,84987575765,84869056447,2,2/2/2021 11:45,0,14
1045846,1048573,84987575765,84973563533,3,2/2/2021 9:57,1,0
1045847,1048574,84987575765,84973563533,3,2/2/2021 9:56,1,0

In [11]:
df['hour']=pd.to_datetime(df.time).dt.hour
df['day_of_week']=pd.to_datetime(df.time).dt.dayofweek

,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week
0,0,84931768866,84906806868,1,9/10/2020 8:03,1,24,8,3
1,1,84931768866,84868173583,4,9/9/2020 10:40,1,0,10,2
2,2,84931768866,84898585959,1,9/8/2020 19:51,1,920,19,1
3,3,84931768866,84356386381,1,9/11/2020 17:38,0,7,17,4
4,4,84931768866,84913101416,1,9/8/2020 13:13,1,39,13,1
...,...,...,...,...,...,...,...,...,...
1045843,1048570,84987575765,84866824824,4,2/2/2021 12:51,0,0,12,1
1045844,1048571,84987575765,84974567612,2,2/2/2021 11:55,1,7,11,1
1045845,1048572,84987575765,84869056447,2,2/2/2021 11:45,0,14,11,1
1045846,1048573,84987575765,84973563533,3,2/2/2021 9:57,1,0,9,1
1045847,1048574,84987575765,84973563533,3,2/2/2021 9:56,1,0,9,1

In [12]:
df.day_of_week.unique()

array([3, 2, 1, 4, 5, 0, 6], dtype=int64)

In [13]:
df['in_hour']=(df['hour']>7)&(df['hour']<19)&(df.day_of_week!=6)

0           True
1           True
2          False
3           True
4           True
           ...
1045843     True
1045844     True
1045845     True
1045846     True
1045847     True
Name: in_hour, Length: 1045848, dtype: bool

In [14]:
df['success']=(df.duration>6)&(df.type!=3)
df

,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success
0,0,84931768866,84906806868,1,9/10/2020 8:03,1,24,8,3,True,True
1,1,84931768866,84868173583,4,9/9/2020 10:40,1,0,10,2,True,False
2,2,84931768866,84898585959,1,9/8/2020 19:51,1,920,19,1,False,True
3,3,84931768866,84356386381,1,9/11/2020 17:38,0,7,17,4,True,True
4,4,84931768866,84913101416,1,9/8/2020 13:13,1,39,13,1,True,True
...,...,...,...,...,...,...,...,...,...,...,...
1045843,1048570,84987575765,84866824824,4,2/2/2021 12:51,0,0,12,1,True,False
1045844,1048571,84987575765,84974567612,2,2/2/2021 11:55,1,7,11,1,True,True
1045845,1048572,84987575765,84869056447,2,2/2/2021 11:45,0,14,11,1,True,True
1045846,1048573,84987575765,84973563533,3,2/2/2021 9:57,1,0,9,1,True,False
1045847,1048574,84987575765,84973563533,3,2/2/2021 9:56,1,0,9,1,True,False

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045848 entries, 0 to 1045847
Data columns (total 11 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   index         1045848 non-null  int64
 1   member_phone  1045848 non-null  object
 2   phone         1045848 non-null  object
 3   type          1045848 non-null  int64
 4   time          1045848 non-null  object
 5   in_contact    1045848 non-null  int64
 6   duration      1045848 non-null  int64
 7   hour          1045848 non-null  int64
 8   day_of_week   1045848 non-null  int64
 9   in_hour       1045848 non-null  bool
 10  success       1045848 non-null  bool
dtypes: bool(2), int64(6), object(3)
memory usage: 73.8+ MB

In [16]:
# chuyển type thành call to, callin, ... cho phone
from sklearn.preprocessing import OneHotEncoder

# Use as many lines of code as you need!
# df.type.astype('category')
# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False,drop=None)
OH = pd.DataFrame(OH_encoder.fit_transform(np.array(df.type).reshape(-1,1)),columns=['call_to','call_in','call_to_miss','call_in_miss'])
OH

         call_to  call_in  call_to_miss  call_in_miss
0            1.0      0.0           0.0           0.0
1            0.0      0.0           0.0           1.0
2            1.0      0.0           0.0           0.0
3            1.0      0.0           0.0           0.0
4            1.0      0.0           0.0           0.0
...          ...      ...           ...           ...
1045843      0.0      0.0           0.0           1.0
1045844      0.0      1.0           0.0           0.0
1045845      0.0      1.0           0.0           0.0
1045846      0.0      0.0           1.0           0.0
1045847      0.0      0.0           1.0           0.0

[1045848 rows x 4 columns]

In [17]:
# chuyển type thành call to, callin, ... cho member
from sklearn.preprocessing import OneHotEncoder

# Use as many lines of code as you need!
# df.type.astype('category')
# Apply one-hot encoder to each column with categorical data
OH_encoder2 = OneHotEncoder(handle_unknown='ignore', sparse=False,drop=None)
OH2 = pd.DataFrame(OH_encoder2.fit_transform(np.array(df.type).reshape(-1,1)),columns=['call_in','call_to','call_in_miss','call_to_miss'])
OH2

         call_in  call_to  call_in_miss  call_to_miss
0            1.0      0.0           0.0           0.0
1            0.0      0.0           0.0           1.0
2            1.0      0.0           0.0           0.0
3            1.0      0.0           0.0           0.0
4            1.0      0.0           0.0           0.0
...          ...      ...           ...           ...
1045843      0.0      0.0           0.0           1.0
1045844      0.0      1.0           0.0           0.0
1045845      0.0      1.0           0.0           0.0
1045846      0.0      0.0           1.0           0.0
1045847      0.0      0.0           1.0           0.0

[1045848 rows x 4 columns]

In [18]:
#data của phone
df1=pd.concat([df,OH],axis=1)

In [19]:
#data của phone
df2=pd.concat([df,OH2],axis=1)

In [20]:
df1['duration_call_to']=df1.duration*df1.call_to
df1['duration_call_in']=df1.duration*df1.call_in
df1['duration_call_to_miss']=df1.duration*df1.call_to_miss
df1['duration_call_in_miss']=df1.duration*df1.call_in_miss
df1.member_phone=df1.member_phone.astype('int64').astype('string').astype('object')
df1

,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss
0,0,84931768866,84906806868,1,9/10/2020 8:03,1,24,8,3,True,True,1.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0
1,1,84931768866,84868173583,4,9/9/2020 10:40,1,0,10,2,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,84931768866,84898585959,1,9/8/2020 19:51,1,920,19,1,False,True,1.0,0.0,0.0,0.0,920.0,0.0,0.0,0.0
3,3,84931768866,84356386381,1,9/11/2020 17:38,0,7,17,4,True,True,1.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0
4,4,84931768866,84913101416,1,9/8/2020 13:13,1,39,13,1,True,True,1.0,0.0,0.0,0.0,39.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045843,1048570,84987575765,84866824824,4,2/2/2021 12:51,0,0,12,1,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1045844,1048571,84987575765,84974567612,2,2/2/2021 11:55,1,7,11,1,True,True,0.0,1.0,0.0,0.0,0.0,7.0,0.0,0.0
1045845,1048572,84987575765,84869056447,2,2/2/2021 11:45,0,14,11,1,True,True,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0
1045846,1048573,84987575765,84973563533,3,2/2/2021 9:57,1,0,9,1,True,False,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1045847,1048574,84987575765,84973563533,3,2/2/2021 9:56,1,0,9,1,True,False,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [21]:
df2['duration_call_to']=df2.duration*df2.call_to
df2['duration_call_in']=df2.duration*df2.call_in
df2['duration_call_to_miss']=df2.duration*df2.call_to_miss
df2['duration_call_in_miss']=df2.duration*df2.call_in_miss
df2.member_phone=df2.member_phone.astype('int64').astype('string').astype('object')
df2

,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success,call_in,call_to,call_in_miss,call_to_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss
0,0,84931768866,84906806868,1,9/10/2020 8:03,1,24,8,3,True,True,1.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0
1,1,84931768866,84868173583,4,9/9/2020 10:40,1,0,10,2,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,84931768866,84898585959,1,9/8/2020 19:51,1,920,19,1,False,True,1.0,0.0,0.0,0.0,0.0,920.0,0.0,0.0
3,3,84931768866,84356386381,1,9/11/2020 17:38,0,7,17,4,True,True,1.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
4,4,84931768866,84913101416,1,9/8/2020 13:13,1,39,13,1,True,True,1.0,0.0,0.0,0.0,0.0,39.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1045843,1048570,84987575765,84866824824,4,2/2/2021 12:51,0,0,12,1,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1045844,1048571,84987575765,84974567612,2,2/2/2021 11:55,1,7,11,1,True,True,0.0,1.0,0.0,0.0,7.0,0.0,0.0,0.0
1045845,1048572,84987575765,84869056447,2,2/2/2021 11:45,0,14,11,1,True,True,0.0,1.0,0.0,0.0,14.0,0.0,0.0,0.0
1045846,1048573,84987575765,84973563533,3,2/2/2021 9:57,1,0,9,1,True,False,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1045847,1048574,84987575765,84973563533,3,2/2/2021 9:56,1,0,9,1,True,False,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [22]:
# chuẩn bị dữ liệu tính pagranks
to1=(df1.call_in.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
to2=(df1.call_to.astype('bool')*df1.phone.astype('object')).astype('object')
to3=(df1.call_in_miss.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
to4=(df1.call_to_miss.astype('bool')*df1.phone.astype('object')).astype('object')

df1['to']=to1+to2+to3+to4

In [23]:
in1=(df1.call_to.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
in2=(df1.call_in.astype('bool')*df1.phone.astype('object')).astype('object')
in3=(df1.call_to_miss.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
in4=(df1.call_in_miss.astype('bool')*df1.phone.astype('object')).astype('object')

df1['in']=in1+in2+in3+in4
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045848 entries, 0 to 1045847
Data columns (total 21 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   index                  1045848 non-null  int64
 1   member_phone           1045848 non-null  object
 2   phone                  1045848 non-null  object
 3   type                   1045848 non-null  int64
 4   time                   1045848 non-null  object
 5   in_contact             1045848 non-null  int64
 6   duration               1045848 non-null  int64
 7   hour                   1045848 non-null  int64
 8   day_of_week            1045848 non-null  int64
 9   in_hour                1045848 non-null  bool
 10  success                1045848 non-null  bool
 11  call_to                1045848 non-null  float64
 12  call_in                1045848 non-null  float64
 13  call_to_miss           1045848 non-null  float64
 14  call_in_miss           1045848 non-null  float64
 15  duration_call_to       1045848 non-null  float64
 16  duration_call_in       1045848 non-null  float64
 17  duration_call_to_miss  1045848 non-null  float64
 18  duration_call_in_miss  1045848 non-null  float64
 19  to                     1045848 non-null  object
 20  in                     1045848 non-null  object
dtypes: bool(2), float64(8), int64(6), object(5)
memory usage: 153.6+ MB

In [24]:
rank=df1[['to','in']]
rank['weight']=df1.duration
rank

                  to           in  weight
0        84906806868  84931768866      24
1        84931768866  84868173583       0
2        84898585959  84931768866     920
3        84356386381  84931768866       7
4        84913101416  84931768866      39
...              ...          ...     ...
1045843  84987575765  84866824824       0
1045844  84987575765  84974567612       7
1045845  84987575765  84869056447      14
1045846  84973563533  84987575765       0
1045847  84973563533  84987575765       0

[1045848 rows x 3 columns]

In [25]:
import networkx as nx
G = nx.from_pandas_edgelist(rank,source='to',target='in',edge_attr=['weight'],create_using=nx.DiGraph)

pr = nx.pagerank(G)

pageranks = pd.DataFrame(pr.items(), columns=["title", "pagerank"])
pageranks.pagerank=pageranks.pagerank*100000

In [26]:
pageranks.to_csv('pageranks.csv')
pageranks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239480 entries, 0 to 239479
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   title     239480 non-null  object
 1   pagerank  239480 non-null  float64
dtypes: float64(1), object(1)
memory usage: 3.7+ MB

In [27]:
# pageranks
# for i in data_icaller.index:
#     print(pageranks.loc[pageranks.title==i,'pagerank'])

In [28]:
# data của phone
a=df1.groupby(['phone'],sort=False).sum()
a['sum_call']=a.call_to+a.call_in+a.call_to_miss+a.call_in_miss
a['Spam']=0
# a['pagerank']=0.0
# for i in a.index:
#     a['pagerank'][i]=pageranks.loc[pageranks.title==i,'pagerank']
a

,index,type,in_contact,duration,hour,day_of_week,in_hour,success,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
phone,,,,,,,,,,,,,,,,,,
84906806868,36,3,2,35,22,5,2,2,1.0,1.0,0.0,0.0,24.0,11.0,0.0,0.0,2.0,0
84868173583,9269224,85,33,8410,356,72,33,23,1.0,22.0,0.0,10.0,23.0,8387.0,0.0,0.0,33.0,0
84898585959,3849935,38,16,1638,206,32,12,7,4.0,3.0,8.0,1.0,1261.0,377.0,0.0,0.0,16.0,0
84356386381,59,2,0,22,34,8,2,2,2.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0,2.0,0
84913101416,1062851,11,6,375,72,18,5,5,3.0,2.0,0.0,1.0,116.0,259.0,0.0,0.0,6.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84359963639,5242802,9,0,135,67,5,5,3,3.0,1.0,0.0,1.0,59.0,76.0,0.0,0.0,5.0,0
84919904127,1048556,4,1,0,13,1,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
84866824824,1048570,4,0,0,12,1,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
84869056447,1048572,2,0,14,11,1,1,1,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0,1.0,0
84973563533,2097147,6,2,0,18,2,2,0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0

In [29]:
# data của member
m=df2.groupby(['member_phone'],sort=False).sum()
m['sum_call']=m.call_to+m.call_in+m.call_to_miss+m.call_in_miss
m['Spam']=0
# m['pagerank']=0.0
# for i in m.index:
#     m['pagerank'][i]=pageranks.loc[pageranks.title==i,'pagerank']
m

,index,type,in_contact,duration,hour,day_of_week,in_hour,success,call_in,call_to,call_in_miss,call_to_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
member_phone,,,,,,,,,,,,,,,,,,
84931768866,337038248,2255,750,53443,12226,2522,674,487,238.0,286.0,143.0,254.0,34330.0,19113.0,0.0,0.0,921.0,0
60122976404,1100,34,0,0,159,43,7,0,0.0,0.0,10.0,1.0,0.0,0.0,0.0,0.0,11.0,0
84937445006,18672,259,77,1200,1483,374,26,33,17.0,18.0,38.0,23.0,712.0,488.0,0.0,0.0,96.0,0
917000000000,1473,18,0,37,96,23,5,2,2.0,0.0,0.0,4.0,0.0,37.0,0.0,0.0,6.0,0
918078000000,1764,20,0,624,98,0,7,3,1.0,2.0,1.0,3.0,299.0,325.0,0.0,0.0,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84337890342,94220325,150,67,1196,1229,331,51,48,61.0,7.0,13.0,9.0,77.0,1119.0,0.0,0.0,90.0,0
84792609681,14657223,32,13,2246,213,15,3,11,2.0,9.0,0.0,3.0,2045.0,201.0,0.0,0.0,14.0,0
84918424394,102612517,197,54,3462,1408,311,62,58,46.0,17.0,23.0,12.0,579.0,2883.0,0.0,0.0,98.0,0
84985954204,97432440,209,81,2066,1079,316,50,55,37.0,21.0,10.0,25.0,529.0,1537.0,0.0,0.0,93.0,0
84987575765,39845109,99,29,686,507,41,33,19,7.0,15.0,2.0,14.0,553.0,133.0,0.0,0.0,38.0,0

In [30]:
phone=pd.read_csv('phones.csv')

In [31]:
phone['sum_report']=phone.report_advertising+phone.report_loan+phone.report_debt+phone.report_cheat+phone.report_real_estate+phone.report_other

In [32]:
phone['Spam']=(phone['sum_report']>0) & (phone.report_not_spam==0)
phone['Spam'].sum()
# (phone['sum_report']>0) & (phone.report_not_spam==0)

2669

In [33]:
phone.report_not_spam.index

RangeIndex(start=0, stop=1048575, step=1)

In [34]:
phone_spam=phone.loc[phone.Spam==1]
phone_spam

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct,sum_report,Spam
16,84939142477,939142477,ThÃ¹y Linh,LÃª ThÃ¹y Linh\nLe Thuy Linh,0,0,0,0,0,0,1,0,0,0,1,True
23796,84905448077,905448077,La ChÃ¢u,La ChÃ¢u,0,0,0,2,0,0,0,0,0,0,2,True
24706,84907721870,907721870,Há»“ng Sang,Nguyá»…n Há»“ng Sang,0,0,0,0,0,0,2,0,0,0,2,True
36549,84337657452,84337657452,Grooo Test,B,1,0,0,0,0,1,1,0,0,0,2,True
36552,84975503535,84975503535,Nam ÄV - Grooo,Nam Äv - Name List,1,0,0,0,0,4,1,0,0,0,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1047347,8.425E+11,8.425E+11,Cashwagon,Cashwagon,0,0,0,1,0,0,0,0,0,0,1,True
1047348,8.425E+11,8.425E+11,Cashwagon,Cashwagon,0,0,0,1,0,0,0,0,0,0,1,True
1047349,8.429E+11,8.429E+11,Cash,Cash,0,0,0,1,0,0,0,0,0,0,1,True
1047350,8.42478E+11,8.42478E+11,Cash,Cash,0,0,0,1,0,0,0,0,0,0,1,True
1047351,8.429E+11,8.429E+11,Cash,Cash,0,0,1,1,0,0,0,0,0,0,2,True

In [35]:
for i in phone_spam.phone:
    if (i in a.index):
        a.loc[i,'Spam']=1

In [36]:
for i in phone_spam.phone:
    if (i in m.index):
        m.loc[i,'Spam']=1

In [37]:
print(a.Spam.sum())
print(m.Spam.sum())

593
7

In [38]:
def addF(a):
    a['avg_in_contact']=a.in_contact/a.sum_call
    a['avg_duration']=0.0
    for i in a.index:
        if (a.call_to[i]+a.call_in[i])>0:
            a['avg_duration'][i]=a.duration[i]/(a.call_to[i]+a.call_in[i])
    a['avg_duration_call_to']=a.duration_call_to/(a.call_to+0.0001+a.call_to_miss)
    a['avg_duration_call_in']=a.duration_call_in/(a.call_in+0.0001+a.call_in_miss)
    a['avg_success']=a.success/a.sum_call
    return a
a=addF(a)
m=addF(m)
m

,index,type,in_contact,duration,hour,day_of_week,in_hour,success,call_in,call_to,...,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam,avg_in_contact,avg_duration,avg_duration_call_to,avg_duration_call_in,avg_success
member_phone,,,,,,,,,,,,,,,,,,,,,
84931768866,337038248,2255,750,53443,12226,2522,674,487,238.0,286.0,...,19113.0,0.0,0.0,921.0,1,0.814332,101.990458,63.574062,50.165341,0.528773
60122976404,1100,34,0,0,159,43,7,0,0.0,0.0,...,0.0,0.0,0.0,11.0,0,0.000000,0.000000,0.000000,0.000000,0.000000
84937445006,18672,259,77,1200,1483,374,26,33,17.0,18.0,...,488.0,0.0,0.0,96.0,0,0.802083,34.285714,17.365811,8.872711,0.343750
917000000000,1473,18,0,37,96,23,5,2,2.0,0.0,...,37.0,0.0,0.0,6.0,0,0.000000,18.500000,0.000000,18.499075,0.333333
918078000000,1764,20,0,624,98,0,7,3,1.0,2.0,...,325.0,0.0,0.0,7.0,0,0.000000,208.000000,59.798804,162.491875,0.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84337890342,94220325,150,67,1196,1229,331,51,48,61.0,7.0,...,1119.0,0.0,0.0,90.0,0,0.744444,17.588235,4.812470,15.121601,0.533333
84792609681,14657223,32,13,2246,213,15,3,11,2.0,9.0,...,201.0,0.0,0.0,14.0,0,0.928571,204.181818,170.415247,100.494975,0.785714
84918424394,102612517,197,54,3462,1408,311,62,58,46.0,17.0,...,2883.0,0.0,0.0,98.0,0,0.551020,54.952381,19.965448,41.782548,0.591837
84985954204,97432440,209,81,2066,1079,316,50,55,37.0,21.0,...,1537.0,0.0,0.0,93.0,0,0.870968,35.620690,11.499975,32.702058,0.591398
84987575765,39845109,99,29,686,507,41,33,19,7.0,15.0,...,133.0,0.0,0.0,38.0,0,0.763158,31.181818,19.068900,14.777614,0.500000

In [39]:
featuers=['call_to', 'call_in', 'call_to_miss', 'call_in_miss','duration_call_to', 'duration_call_in','avg_duration_call_to', 'avg_duration_call_in','avg_in_contact','in_hour','avg_success','Spam']

In [40]:
b=a[featuers]
b=b.astype({'call_to': 'int32','call_in': 'int32','call_to_miss': 'int32','call_in_miss': 'int32'})
n=m[featuers]
m=m.astype({'call_to': 'int32','call_in': 'int32','call_to_miss': 'int32','call_in_miss': 'int32'})
same=list(set(a.index) & set(m.index))
b=b.drop(same)
b

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
phone,,,,,,,,,,,,
84906806868,1,1,0,0,24.0,11.0,23.997600,10.998900,1.000000,2,1.000000,0
84898585959,4,3,8,1,1261.0,377.0,105.082458,94.247644,1.000000,12,0.437500,0
84356386381,2,0,0,0,22.0,0.0,10.999450,0.000000,0.000000,2,1.000000,0
84396642450,0,0,2,0,0.0,0.0,0.000000,0.000000,0.000000,2,0.000000,0
84936986468,43,41,22,40,1808.0,1309.0,27.815342,16.160474,0.993151,68,0.506849,0
...,...,...,...,...,...,...,...,...,...,...,...,...
84359963639,3,1,0,1,59.0,76.0,19.666011,37.998100,0.000000,5,0.600000,0
84919904127,0,0,0,1,0.0,0.0,0.000000,0.000000,1.000000,1,0.000000,0
84866824824,0,0,0,1,0.0,0.0,0.000000,0.000000,0.000000,1,0.000000,0
84869056447,0,1,0,0,0.0,14.0,0.000000,13.998600,0.000000,1,1.000000,0
84973563533,0,0,2,0,0.0,0.0,0.000000,0.000000,1.000000,2,0.000000,0

In [41]:
# h=df.set_index('phone')

In [42]:
# history_spam=h.loc[spam.index,:]

In [43]:
# history_spam.to_csv('history_spam.csv')

In [44]:
# spam.index

In [52]:

not_label=b.loc[(b.Spam==0)].sample(8524,random_state=1)
not_label.to_csv('not_label.csv', index=False)

In [46]:
spam=b.loc[(b.Spam==1)]
spam=spam.drop(spam.loc[((spam.Spam==1)&(spam.call_to==0)&(spam.call_in!=0)&(spam.call_to_miss==0))|((spam.Spam==1)&(spam.avg_success==0)&(spam.call_to==0)&(spam.call_in==0))].index)
spam.to_csv('Spam_phone.csv', index=False)
spam

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
phone,,,,,,,,,,,,
8.42473E+11,485,86,424,44,35170.0,4811.0,38.690865,37.007664,0.027911,925,0.509143,1
8.42871E+11,511,214,224,102,27173.0,16562.0,36.970063,52.411376,0.097050,807,0.623216,1
84979169738,1,5,0,3,97.0,358.0,96.990301,44.749441,1.000000,9,0.666667,1
8.42863E+11,303,104,282,59,33429.0,6250.0,57.143580,38.343535,0.169786,699,0.513369,1
84932735077,6,0,20,6,89.0,0.0,3.423064,0.000000,0.031250,27,0.156250,1
...,...,...,...,...,...,...,...,...,...,...,...,...
84981693274,1,0,0,0,6.0,0.0,5.999400,0.000000,0.000000,1,0.000000,1
84902546338,1,0,0,0,6.0,0.0,5.999400,0.000000,0.000000,1,0.000000,1
84912129576,3,0,0,0,43.0,0.0,14.332856,0.000000,0.000000,2,0.666667,1
84903743286,1,0,0,0,11.0,0.0,10.998900,0.000000,0.000000,1,1.000000,1
84986664512,9,8,3,5,243.0,79.0,20.249831,6.076876,1.000000,15,0.360000,1

In [47]:

# for i in data_icaller.index:
#     data_icaller['pagerank'][i]=pageranks.loc[pageranks.title==i,'pagerank']
# data_icaller

In [49]:
data_icaller_test=b.sample(100000)
data_icaller_test.to_csv('data_icaller_test.csv', index=False)

In [ ]:
data_icaller_8k=pd.concat([spam, not_spam_member])
data_icaller_8k.to_csv('data_icaller_8k.csv',index=False)
data_icaller_8k

In [ ]:
b

In [ ]:
d=pd.read_csv('data_icaller_17k.csv')
d['Spam']=d.Spam.replace({1:2})
d.loc[d.Spam==2]
not_spam['Spam']=not_spam.Spam.replace({0:1})

In [ ]:
data_icaller_25k=pd.concat([d, not_spam], axis=0)
data_icaller_25k.Spam.unique()

In [ ]:
data_icaller_25k.to_csv('data_icaller_25k.csv',index=False)

,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success
0,0,84931768866,84906806868,1,9/10/2020 8:03,1,24,8,3,True,True
1,1,84931768866,84868173583,4,9/9/2020 10:40,1,0,10,2,True,False
2,2,84931768866,84898585959,1,9/8/2020 19:51,1,920,19,1,False,True
3,3,84931768866,84356386381,1,9/11/2020 17:38,0,7,17,4,True,True
4,4,84931768866,84913101416,1,9/8/2020 13:13,1,39,13,1,True,True
...,...,...,...,...,...,...,...,...,...,...,...
1045843,1048570,84987575765,84866824824,4,2/2/2021 12:51,0,0,12,1,True,False
1045844,1048571,84987575765,84974567612,2,2/2/2021 11:55,1,7,11,1,True,True
1045845,1048572,84987575765,84869056447,2,2/2/2021 11:45,0,14,11,1,True,True
1045846,1048573,84987575765,84973563533,3,2/2/2021 9:57,1,0,9,1,True,False
1045847,1048574,84987575765,84973563533,3,2/2/2021 9:56,1,0,9,1,True,False