In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\ASUS\\Desktop\\AI Project\\Spam Calls SPIT\\icaller-data\\icaller_data_Long\\call_histories (1)_123.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2202101 entries, 0 to 2202100
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   member_phone  int64
 1   phone         object
 2   type          int64
 3   time          object
 4   in_contact    int64
 5   duration      int64
dtypes: int64(4), object(2)
memory usage: 100.8+ MB

In [4]:
df.isnull().sum()

member_phone       0
phone           3166
type               0
time               0
in_contact         0
duration           0
dtype: int64

In [5]:
df.dropna(inplace=True)
df.reset_index(inplace=True)
df

,index,member_phone,phone,type,time,in_contact,duration
0,0,84931768866,+84906806868,1,2020-09-10 08:03:37,1,24
1,1,84931768866,+84868173583,4,2020-09-09 10:40:25,1,0
2,2,84931768866,+84898585959,1,2020-09-08 19:51:14,1,920
3,3,84931768866,+84356386381,1,2020-09-11 17:38:15,0,7
4,4,84931768866,+84913101416,1,2020-09-08 13:13:41,1,39
...,...,...,...,...,...,...,...
2198930,2202096,84943234949,+84328867985,2,2021-03-20 15:29:42,1,63
2198931,2202097,84923636846,+61405444678,5,2021-03-26 12:13:08,0,0
2198932,2202098,84923636846,+61405444678,5,2021-03-26 12:12:47,0,0
2198933,2202099,84923636846,+61423038585,5,2021-03-26 11:23:49,0,0
2198934,2202100,84923636846,+61423038585,5,2021-03-26 11:16:23,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2198935 entries, 0 to 2198934
Data columns (total 7 columns):
 #   Column        Dtype
---  ------        -----
 0   index         int64
 1   member_phone  int64
 2   phone         object
 3   type          int64
 4   time          object
 5   in_contact    int64
 6   duration      int64
dtypes: int64(5), object(2)
memory usage: 117.4+ MB

In [7]:
df.member_phone=df.member_phone.astype('int64').astype('string').astype('object')
#số lượng member
df.member_phone.unique().shape

(13382,)

In [8]:
df = df.loc[(df.type == 1) | (df.type == 2) | (df.type == 3) | (df.type == 4)]
df.reset_index(inplace=True)

In [9]:
phone = df.phone.unique()
member_phone = df.member_phone.unique()

In [10]:
# tổng sdt
sdt=pd.DataFrame({'phone': np.append(df.phone.unique(),df.member_phone.unique())})
sdt.phone.unique().shape

(441220,)

In [11]:
phone.shape

(427853,)

In [12]:
member_phone.shape

(13367,)

In [13]:
import time

In [14]:
df['hour']=pd.to_datetime(df.time).dt.hour
df['day_of_week']=pd.to_datetime(df.time).dt.dayofweek

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [15]:
df['in_hour']=(df['hour']>7)&(df['hour']<19)&(df.day_of_week!=6)

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
df['success']=(df.duration>6)&(df.type!=3)
df

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success
0,0,0,84931768866,+84906806868,1,2020-09-10 08:03:37,1,24,8,3,True,True
1,1,1,84931768866,+84868173583,4,2020-09-09 10:40:25,1,0,10,2,True,False
2,2,2,84931768866,+84898585959,1,2020-09-08 19:51:14,1,920,19,1,False,True
3,3,3,84931768866,+84356386381,1,2020-09-11 17:38:15,0,7,17,4,True,True
4,4,4,84931768866,+84913101416,1,2020-09-08 13:13:41,1,39,13,1,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2060496,2198926,2202092,84943234949,+84919480096,4,2021-03-21 07:18:35,1,0,7,6,False,False
2060497,2198927,2202093,84943234949,+84943999619,1,2021-03-20 20:31:29,1,10,20,5,False,True
2060498,2198928,2202094,84943234949,+84328867985,1,2021-03-20 18:46:30,1,14,18,5,True,True
2060499,2198929,2202095,84943234949,+84983499628,2,2021-03-20 18:07:47,1,27,18,5,True,True
2060500,2198930,2202096,84943234949,+84328867985,2,2021-03-20 15:29:42,1,63,15,5,True,True

In [17]:
df

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success
0,0,0,84931768866,+84906806868,1,2020-09-10 08:03:37,1,24,8,3,True,True
1,1,1,84931768866,+84868173583,4,2020-09-09 10:40:25,1,0,10,2,True,False
2,2,2,84931768866,+84898585959,1,2020-09-08 19:51:14,1,920,19,1,False,True
3,3,3,84931768866,+84356386381,1,2020-09-11 17:38:15,0,7,17,4,True,True
4,4,4,84931768866,+84913101416,1,2020-09-08 13:13:41,1,39,13,1,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2060496,2198926,2202092,84943234949,+84919480096,4,2021-03-21 07:18:35,1,0,7,6,False,False
2060497,2198927,2202093,84943234949,+84943999619,1,2021-03-20 20:31:29,1,10,20,5,False,True
2060498,2198928,2202094,84943234949,+84328867985,1,2021-03-20 18:46:30,1,14,18,5,True,True
2060499,2198929,2202095,84943234949,+84983499628,2,2021-03-20 18:07:47,1,27,18,5,True,True
2060500,2198930,2202096,84943234949,+84328867985,2,2021-03-20 15:29:42,1,63,15,5,True,True

In [18]:
# chuyển type thành call to, callin, ... cho phone
from sklearn.preprocessing import OneHotEncoder

# Use as many lines of code as you need!
df.type.astype('category')
# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False,drop=None)
OH = pd.DataFrame(OH_encoder.fit_transform(np.array(df.type).reshape(-1,1)),columns=['call_to','call_in','call_to_miss','call_in_miss'])
OH

         call_to  call_in  call_to_miss  call_in_miss
0            1.0      0.0           0.0           0.0
1            0.0      0.0           0.0           1.0
2            1.0      0.0           0.0           0.0
3            1.0      0.0           0.0           0.0
4            1.0      0.0           0.0           0.0
...          ...      ...           ...           ...
2060496      0.0      0.0           0.0           1.0
2060497      1.0      0.0           0.0           0.0
2060498      1.0      0.0           0.0           0.0
2060499      0.0      1.0           0.0           0.0
2060500      0.0      1.0           0.0           0.0

[2060501 rows x 4 columns]

In [19]:
# chuyển type thành call to, callin, ... cho member
from sklearn.preprocessing import OneHotEncoder

# Use as many lines of code as you need!
# df.type.astype('category')
# Apply one-hot encoder to each column with categorical data
OH_encoder2 = OneHotEncoder(handle_unknown='ignore', sparse=False,drop=None)
OH2 = pd.DataFrame(OH_encoder2.fit_transform(np.array(df.type).reshape(-1,1)),columns=['call_in','call_to','call_in_miss','call_to_miss'])
OH2

         call_in  call_to  call_in_miss  call_to_miss
0            1.0      0.0           0.0           0.0
1            0.0      0.0           0.0           1.0
2            1.0      0.0           0.0           0.0
3            1.0      0.0           0.0           0.0
4            1.0      0.0           0.0           0.0
...          ...      ...           ...           ...
2060496      0.0      0.0           0.0           1.0
2060497      1.0      0.0           0.0           0.0
2060498      1.0      0.0           0.0           0.0
2060499      0.0      1.0           0.0           0.0
2060500      0.0      1.0           0.0           0.0

[2060501 rows x 4 columns]

In [20]:
OH.isnull().sum()

call_to         0
call_in         0
call_to_miss    0
call_in_miss    0
dtype: int64

In [21]:
df1 = pd.concat([df,OH],axis=1)
df1

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success,call_to,call_in,call_to_miss,call_in_miss
0,0,0,84931768866,+84906806868,1,2020-09-10 08:03:37,1,24,8,3,True,True,1.0,0.0,0.0,0.0
1,1,1,84931768866,+84868173583,4,2020-09-09 10:40:25,1,0,10,2,True,False,0.0,0.0,0.0,1.0
2,2,2,84931768866,+84898585959,1,2020-09-08 19:51:14,1,920,19,1,False,True,1.0,0.0,0.0,0.0
3,3,3,84931768866,+84356386381,1,2020-09-11 17:38:15,0,7,17,4,True,True,1.0,0.0,0.0,0.0
4,4,4,84931768866,+84913101416,1,2020-09-08 13:13:41,1,39,13,1,True,True,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060496,2198926,2202092,84943234949,+84919480096,4,2021-03-21 07:18:35,1,0,7,6,False,False,0.0,0.0,0.0,1.0
2060497,2198927,2202093,84943234949,+84943999619,1,2021-03-20 20:31:29,1,10,20,5,False,True,1.0,0.0,0.0,0.0
2060498,2198928,2202094,84943234949,+84328867985,1,2021-03-20 18:46:30,1,14,18,5,True,True,1.0,0.0,0.0,0.0
2060499,2198929,2202095,84943234949,+84983499628,2,2021-03-20 18:07:47,1,27,18,5,True,True,0.0,1.0,0.0,0.0
2060500,2198930,2202096,84943234949,+84328867985,2,2021-03-20 15:29:42,1,63,15,5,True,True,0.0,1.0,0.0,0.0

In [22]:
df2 = pd.concat([df,OH2],axis=1)
df2

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success,call_in,call_to,call_in_miss,call_to_miss
0,0,0,84931768866,+84906806868,1,2020-09-10 08:03:37,1,24,8,3,True,True,1.0,0.0,0.0,0.0
1,1,1,84931768866,+84868173583,4,2020-09-09 10:40:25,1,0,10,2,True,False,0.0,0.0,0.0,1.0
2,2,2,84931768866,+84898585959,1,2020-09-08 19:51:14,1,920,19,1,False,True,1.0,0.0,0.0,0.0
3,3,3,84931768866,+84356386381,1,2020-09-11 17:38:15,0,7,17,4,True,True,1.0,0.0,0.0,0.0
4,4,4,84931768866,+84913101416,1,2020-09-08 13:13:41,1,39,13,1,True,True,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060496,2198926,2202092,84943234949,+84919480096,4,2021-03-21 07:18:35,1,0,7,6,False,False,0.0,0.0,0.0,1.0
2060497,2198927,2202093,84943234949,+84943999619,1,2021-03-20 20:31:29,1,10,20,5,False,True,1.0,0.0,0.0,0.0
2060498,2198928,2202094,84943234949,+84328867985,1,2021-03-20 18:46:30,1,14,18,5,True,True,1.0,0.0,0.0,0.0
2060499,2198929,2202095,84943234949,+84983499628,2,2021-03-20 18:07:47,1,27,18,5,True,True,0.0,1.0,0.0,0.0
2060500,2198930,2202096,84943234949,+84328867985,2,2021-03-20 15:29:42,1,63,15,5,True,True,0.0,1.0,0.0,0.0

In [23]:
df1['duration_call_to']=df1.duration*df1.call_to
df1['duration_call_in']=df1.duration*df1.call_in
df1['duration_call_to_miss']=df1.duration*df1.call_to_miss
df1['duration_call_in_miss']=df1.duration*df1.call_in_miss
# df1.member_phone=df1.member_phone.astype('int64').astype('string').astype('object')
df1

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss
0,0,0,84931768866,+84906806868,1,2020-09-10 08:03:37,1,24,8,3,True,True,1.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0
1,1,1,84931768866,+84868173583,4,2020-09-09 10:40:25,1,0,10,2,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,2,84931768866,+84898585959,1,2020-09-08 19:51:14,1,920,19,1,False,True,1.0,0.0,0.0,0.0,920.0,0.0,0.0,0.0
3,3,3,84931768866,+84356386381,1,2020-09-11 17:38:15,0,7,17,4,True,True,1.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0
4,4,4,84931768866,+84913101416,1,2020-09-08 13:13:41,1,39,13,1,True,True,1.0,0.0,0.0,0.0,39.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060496,2198926,2202092,84943234949,+84919480096,4,2021-03-21 07:18:35,1,0,7,6,False,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2060497,2198927,2202093,84943234949,+84943999619,1,2021-03-20 20:31:29,1,10,20,5,False,True,1.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
2060498,2198928,2202094,84943234949,+84328867985,1,2021-03-20 18:46:30,1,14,18,5,True,True,1.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0
2060499,2198929,2202095,84943234949,+84983499628,2,2021-03-20 18:07:47,1,27,18,5,True,True,0.0,1.0,0.0,0.0,0.0,27.0,0.0,0.0
2060500,2198930,2202096,84943234949,+84328867985,2,2021-03-20 15:29:42,1,63,15,5,True,True,0.0,1.0,0.0,0.0,0.0,63.0,0.0,0.0

In [24]:
df2['duration_call_to']=df2.duration*df2.call_to
df2['duration_call_in']=df2.duration*df2.call_in
df2['duration_call_to_miss']=df2.duration*df2.call_to_miss
df2['duration_call_in_miss']=df2.duration*df2.call_in_miss
# df2.member_phone=df2.member_phone.astype('int64').astype('string').astype('object')
df2

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success,call_in,call_to,call_in_miss,call_to_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss
0,0,0,84931768866,+84906806868,1,2020-09-10 08:03:37,1,24,8,3,True,True,1.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0
1,1,1,84931768866,+84868173583,4,2020-09-09 10:40:25,1,0,10,2,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,2,84931768866,+84898585959,1,2020-09-08 19:51:14,1,920,19,1,False,True,1.0,0.0,0.0,0.0,0.0,920.0,0.0,0.0
3,3,3,84931768866,+84356386381,1,2020-09-11 17:38:15,0,7,17,4,True,True,1.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
4,4,4,84931768866,+84913101416,1,2020-09-08 13:13:41,1,39,13,1,True,True,1.0,0.0,0.0,0.0,0.0,39.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060496,2198926,2202092,84943234949,+84919480096,4,2021-03-21 07:18:35,1,0,7,6,False,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2060497,2198927,2202093,84943234949,+84943999619,1,2021-03-20 20:31:29,1,10,20,5,False,True,1.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0
2060498,2198928,2202094,84943234949,+84328867985,1,2021-03-20 18:46:30,1,14,18,5,True,True,1.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0
2060499,2198929,2202095,84943234949,+84983499628,2,2021-03-20 18:07:47,1,27,18,5,True,True,0.0,1.0,0.0,0.0,27.0,0.0,0.0,0.0
2060500,2198930,2202096,84943234949,+84328867985,2,2021-03-20 15:29:42,1,63,15,5,True,True,0.0,1.0,0.0,0.0,63.0,0.0,0.0,0.0

In [25]:
del df1['member_phone']
del df1['type']

In [26]:
df1_p=df1.groupby(['phone'],sort=False).sum()
df1_p['Spam']=0

In [27]:
del df1_p['duration_call_to_miss']
del df1_p['duration_call_in_miss']

In [28]:
df1_p

,level_0,index,in_contact,duration,hour,day_of_week,in_hour,success,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,Spam
phone,,,,,,,,,,,,,,,
+84906806868,36,36,2,35,22,5,2,2,1.0,1.0,0.0,0.0,24.0,11.0,0
+84868173583,15932906,15960353,37,8591,402,86,37,25,2.0,23.0,0.0,12.0,140.0,8451.0,0
+84898585959,14968037,15001895,24,2838,304,54,20,13,6.0,7.0,10.0,1.0,2137.0,701.0,0
+84356386381,59,59,0,22,34,8,2,2,2.0,0.0,0.0,0.0,22.0,0.0,0
+84913101416,4496150,4506687,9,429,122,22,8,8,5.0,3.0,0.0,1.0,155.0,274.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
+84347392721,2198896,2202062,0,23,12,0,1,1,1.0,0.0,0.0,0.0,23.0,0.0,0
+84919501418,2198907,2202073,0,14,6,0,0,1,1.0,0.0,0.0,0.0,14.0,0.0,0
+84334270230,8795638,8808302,0,51,24,0,0,1,1.0,0.0,3.0,0.0,51.0,0.0,0
+84327305282,2198912,2202078,0,0,19,6,0,0,0.0,0.0,1.0,0.0,0.0,0.0,0
+84939173666,4397845,4404177,2,56,17,12,0,2,1.0,1.0,0.0,0.0,12.0,44.0,0

In [29]:
# print(df1_p.index)

In [30]:
del df2['phone']

In [31]:
df2_m = df2.groupby(['member_phone'],sort=False).sum()
df2_m['Spam']=0

In [32]:
del df2_m['duration_call_to_miss']
del df2_m['duration_call_in_miss']

In [33]:
df2_m

,level_0,index,type,in_contact,duration,hour,day_of_week,in_hour,success,call_in,call_to,call_in_miss,call_to_miss,duration_call_to,duration_call_in,Spam
member_phone,,,,,,,,,,,,,,,,
84931768866,884821661,886605453,3040,1053,80653,17297,3595,929,733,345.0,439.0,183.0,317.0,53114.0,27539.0,0
60122976404,1100,1100,34,0,0,159,43,7,0,0.0,0.0,10.0,1.0,0.0,0.0,0
84937445006,18672,18672,259,77,1200,1483,374,26,33,17.0,18.0,38.0,23.0,712.0,488.0,0
917000112564,1473,1473,18,0,37,96,23,5,2,2.0,0.0,0.0,4.0,0.0,37.0,0
918077934174,1764,1764,20,0,624,98,0,7,3,1.0,2.0,1.0,3.0,299.0,325.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84833101437,205205874,205503478,229,82,685,1264,304,73,44,20.0,35.0,17.0,22.0,461.0,224.0,0
84384599441,4374665,4380997,6,2,14,34,2,2,1,0.0,1.0,0.0,1.0,14.0,0.0,0
84358609143,8758645,8771309,7,4,103,67,12,3,4,1.0,3.0,0.0,0.0,73.0,30.0,0
84349606698,214648011,214958279,252,51,1454,1344,234,79,34,13.0,22.0,57.0,6.0,631.0,823.0,0
233545363344,219179350,219495950,221,93,7462,1439,269,76,58,44.0,17.0,13.0,26.0,2682.0,4780.0,0

In [34]:
phone=pd.read_csv("C:\\Users\\ASUS\\Desktop\\AI Project\\Spam Calls SPIT\\icaller-data\\phones.csv")
phone.info()

C:\Users\ASUS\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4306630 entries, 0 to 4306629
Data columns (total 14 columns):
 #   Column               Dtype
---  ------               -----
 0   phone                object
 1   phone_raw            object
 2   name                 object
 3   name_list            object
 4   from_contact         int64
 5   report_advertising   int64
 6   report_loan          int64
 7   report_debt          int64
 8   report_cheat         int64
 9   report_real_estate   int64
 10  report_other         int64
 11  report_not_spam      int64
 12  report_name_wrong    int64
 13  report_name_correct  int64
dtypes: int64(10), object(4)
memory usage: 460.0+ MB

In [35]:
len(phone.phone.unique())

4306502

In [36]:
phone['sum_report']=phone.report_advertising+phone.report_loan+phone.report_debt+phone.report_cheat+phone.report_real_estate+phone.report_other

In [37]:
phone['Spam']=(phone['sum_report']>0) & (phone.report_not_spam==0)
phone['Spam'].sum()

9936

In [38]:
phone.report_not_spam.index

RangeIndex(start=0, stop=4306630, step=1)

In [39]:
phone_spam=phone.loc[phone.Spam==1]
phone_spam

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct,sum_report,Spam
16,+84939142477,0939142477,Thùy Linh,Lê Thùy Linh\nLe Thuy Linh,0,0,0,0,0,0,1,0,0,0,1,True
23796,+84905448077,0905448077,La Châu,La Châu,0,0,0,2,0,0,0,0,0,0,2,True
24706,+84907721870,0907721870,Hồng Sang,Nguyễn Hồng Sang,0,0,0,0,0,0,2,0,0,0,2,True
36549,+84337657452,+84337657452,Grooo Test,B,1,0,0,0,0,1,1,0,0,0,2,True
36552,+84975503535,+84975503535,Nam ĐV - Grooo,Nam Đv - Name List,1,0,0,0,0,4,1,0,0,0,5,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4305943,+84325811378,+84325811378,NaN,NaN,0,0,0,0,1,0,0,0,0,0,1,True
4305944,+84962951276,+84962951276,NaN,NaN,0,0,0,0,0,0,1,0,0,0,1,True
4305945,+84819891468,+84819891468,NaN,NaN,0,0,0,0,0,1,0,0,0,0,1,True
4306351,+84976190947,+84976190947,NaN,NaN,0,0,1,0,0,0,0,0,0,0,1,True
4306352,+84989124942,+84989124942,NaN,NaN,0,0,0,1,0,0,0,0,0,0,1,True

In [40]:
# phone_spam.phone=phone_spam.phone.astype('int64').astype('string').astype('object')

In [41]:
phone_spam.head()

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct,sum_report,Spam
16,+84939142477,0939142477,Thùy Linh,Lê Thùy Linh\nLe Thuy Linh,0,0,0,0,0,0,1,0,0,0,1,True
23796,+84905448077,0905448077,La Châu,La Châu,0,0,0,2,0,0,0,0,0,0,2,True
24706,+84907721870,0907721870,Hồng Sang,Nguyễn Hồng Sang,0,0,0,0,0,0,2,0,0,0,2,True
36549,+84337657452,+84337657452,Grooo Test,B,1,0,0,0,0,1,1,0,0,0,2,True
36552,+84975503535,+84975503535,Nam ĐV - Grooo,Nam Đv - Name List,1,0,0,0,0,4,1,0,0,0,5,True

In [42]:
phone_spam.groupby(['report_not_spam']).count()

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_name_wrong,report_name_correct,sum_report,Spam
report_not_spam,,,,,,,,,,,,,,,
0,9936,9885,5791,2757,9936,9936,9936,9936,9936,9936,9936,9936,9936,9936,9936

In [43]:
for i in phone_spam.phone:
    if (i in df1_p.index):
        df1_p.loc[i,'Spam']=1

In [44]:
for i in phone_spam.phone:
    if (i in df2_m.index):
        df2_m.loc[i,'Spam']=1

In [45]:
print(df1_p.Spam.sum())
print(df2_m.Spam.sum())

5456
0

In [46]:
df2_m

,level_0,index,type,in_contact,duration,hour,day_of_week,in_hour,success,call_in,call_to,call_in_miss,call_to_miss,duration_call_to,duration_call_in,Spam
member_phone,,,,,,,,,,,,,,,,
84931768866,884821661,886605453,3040,1053,80653,17297,3595,929,733,345.0,439.0,183.0,317.0,53114.0,27539.0,0
60122976404,1100,1100,34,0,0,159,43,7,0,0.0,0.0,10.0,1.0,0.0,0.0,0
84937445006,18672,18672,259,77,1200,1483,374,26,33,17.0,18.0,38.0,23.0,712.0,488.0,0
917000112564,1473,1473,18,0,37,96,23,5,2,2.0,0.0,0.0,4.0,0.0,37.0,0
918077934174,1764,1764,20,0,624,98,0,7,3,1.0,2.0,1.0,3.0,299.0,325.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84833101437,205205874,205503478,229,82,685,1264,304,73,44,20.0,35.0,17.0,22.0,461.0,224.0,0
84384599441,4374665,4380997,6,2,14,34,2,2,1,0.0,1.0,0.0,1.0,14.0,0.0,0
84358609143,8758645,8771309,7,4,103,67,12,3,4,1.0,3.0,0.0,0.0,73.0,30.0,0
84349606698,214648011,214958279,252,51,1454,1344,234,79,34,13.0,22.0,57.0,6.0,631.0,823.0,0
233545363344,219179350,219495950,221,93,7462,1439,269,76,58,44.0,17.0,13.0,26.0,2682.0,4780.0,0

In [47]:
df1_p['sum_call']=df1_p.call_to+df1_p.call_in+df1_p.call_to_miss+df1_p.call_in_miss
df2_m['sum_call']=df2_m.call_to+df2_m.call_in+df2_m.call_to_miss+df2_m.call_in_miss

In [48]:
def addF(a):
    a['avg_in_contact']=a.in_contact/a.sum_call
    a['avg_duration']=0.0
    for i in a.index:
        if (a.call_to[i]+a.call_in[i])>0:
            a['avg_duration'][i]=a.duration[i]/(a.call_to[i]+a.call_in[i])
    a['avg_duration_call_to']=a.duration_call_to/(a.call_to+0.0001+a.call_to_miss)
    a['avg_duration_call_in']=a.duration_call_in/(a.call_in+0.0001+a.call_in_miss)
    a['avg_success']=a.success/a.sum_call
    return a
df1_p=addF(df1_p)
df2_m=addF(df2_m)

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
df2_m

,level_0,index,type,in_contact,duration,hour,day_of_week,in_hour,success,call_in,...,call_to_miss,duration_call_to,duration_call_in,Spam,sum_call,avg_in_contact,avg_duration,avg_duration_call_to,avg_duration_call_in,avg_success
member_phone,,,,,,,,,,,,,,,,,,,,,
84931768866,884821661,886605453,3040,1053,80653,17297,3595,929,733,345.0,...,317.0,53114.0,27539.0,0,1284.0,0.820093,102.873724,70.256604,52.157187,0.570872
60122976404,1100,1100,34,0,0,159,43,7,0,0.0,...,1.0,0.0,0.0,0,11.0,0.000000,0.000000,0.000000,0.000000,0.000000
84937445006,18672,18672,259,77,1200,1483,374,26,33,17.0,...,23.0,712.0,488.0,0,96.0,0.802083,34.285714,17.365811,8.872711,0.343750
917000112564,1473,1473,18,0,37,96,23,5,2,2.0,...,4.0,0.0,37.0,0,6.0,0.000000,18.500000,0.000000,18.499075,0.333333
918077934174,1764,1764,20,0,624,98,0,7,3,1.0,...,3.0,299.0,325.0,0,7.0,0.000000,208.000000,59.798804,162.491875,0.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84833101437,205205874,205503478,229,82,685,1264,304,73,44,20.0,...,22.0,461.0,224.0,0,94.0,0.872340,12.454545,8.087705,6.054038,0.468085
84384599441,4374665,4380997,6,2,14,34,2,2,1,0.0,...,1.0,14.0,0.0,0,2.0,1.000000,14.000000,6.999650,0.000000,0.500000
84358609143,8758645,8771309,7,4,103,67,12,3,4,1.0,...,0.0,73.0,30.0,0,4.0,1.000000,25.750000,24.332522,29.997000,1.000000
84349606698,214648011,214958279,252,51,1454,1344,234,79,34,13.0,...,6.0,631.0,823.0,0,98.0,0.520408,41.542857,22.535634,11.757126,0.346939
233545363344,219179350,219495950,221,93,7462,1439,269,76,58,44.0,...,26.0,2682.0,4780.0,0,100.0,0.930000,122.327869,62.371948,83.859502,0.580000

In [50]:
df1_p

,level_0,index,in_contact,duration,hour,day_of_week,in_hour,success,call_to,call_in,...,call_in_miss,duration_call_to,duration_call_in,Spam,sum_call,avg_in_contact,avg_duration,avg_duration_call_to,avg_duration_call_in,avg_success
phone,,,,,,,,,,,,,,,,,,,,,
+84906806868,36,36,2,35,22,5,2,2,1.0,1.0,...,0.0,24.0,11.0,0,2.0,1.0,17.500000,23.997600,10.998900,1.000000
+84868173583,15932906,15960353,37,8591,402,86,37,25,2.0,23.0,...,12.0,140.0,8451.0,0,37.0,1.0,343.640000,69.996500,241.456453,0.675676
+84898585959,14968037,15001895,24,2838,304,54,20,13,6.0,7.0,...,1.0,2137.0,701.0,0,24.0,1.0,218.307692,133.561665,87.623905,0.541667
+84356386381,59,59,0,22,34,8,2,2,2.0,0.0,...,0.0,22.0,0.0,0,2.0,0.0,11.000000,10.999450,0.000000,1.000000
+84913101416,4496150,4506687,9,429,122,22,8,8,5.0,3.0,...,1.0,155.0,274.0,0,9.0,1.0,53.625000,30.999380,68.498288,0.888889
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
+84347392721,2198896,2202062,0,23,12,0,1,1,1.0,0.0,...,0.0,23.0,0.0,0,1.0,0.0,23.000000,22.997700,0.000000,1.000000
+84919501418,2198907,2202073,0,14,6,0,0,1,1.0,0.0,...,0.0,14.0,0.0,0,1.0,0.0,14.000000,13.998600,0.000000,1.000000
+84334270230,8795638,8808302,0,51,24,0,0,1,1.0,0.0,...,0.0,51.0,0.0,0,4.0,0.0,51.000000,12.749681,0.000000,0.250000
+84327305282,2198912,2202078,0,0,19,6,0,0,0.0,0.0,...,0.0,0.0,0.0,0,1.0,0.0,0.000000,0.000000,0.000000,0.000000
+84939173666,4397845,4404177,2,56,17,12,0,2,1.0,1.0,...,0.0,12.0,44.0,0,2.0,1.0,28.000000,11.998800,43.995600,1.000000

In [51]:
featuers=['call_to', 'call_in', 'call_to_miss', 'call_in_miss','duration_call_to', 'duration_call_in','avg_duration_call_to', 'avg_duration_call_in','avg_in_contact','in_hour','avg_success','Spam']

In [52]:
data_phone = df1_p[featuers]
data_phone = data_phone.astype({'call_to': 'int32','call_in': 'int32','call_to_miss': 'int32','call_in_miss': 'int32'})
data_member= df2_m[featuers]
data_member= data_member.astype({'call_to': 'int32','call_in': 'int32','call_to_miss': 'int32','call_in_miss': 'int32'})
data_member= df2_m[featuers]

In [53]:
#Lấy những thằng trùng nhau của phone và member
same=list(set(df1_p.index) & set(df2_m.index))
#Bỏ đi những thằng trùng đó ở phone
data_phone = data_phone.drop(same)
data_phone

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
phone,,,,,,,,,,,,
+84906806868,1,1,0,0,24.0,11.0,23.997600,10.998900,1.0,2,1.000000,0
+84868173583,2,23,0,12,140.0,8451.0,69.996500,241.456453,1.0,37,0.675676,0
+84898585959,6,7,10,1,2137.0,701.0,133.561665,87.623905,1.0,20,0.541667,0
+84356386381,2,0,0,0,22.0,0.0,10.999450,0.000000,0.0,2,1.000000,0
+84913101416,5,3,0,1,155.0,274.0,30.999380,68.498288,1.0,8,0.888889,0
...,...,...,...,...,...,...,...,...,...,...,...,...
+84347392721,1,0,0,0,23.0,0.0,22.997700,0.000000,0.0,1,1.000000,0
+84919501418,1,0,0,0,14.0,0.0,13.998600,0.000000,0.0,0,1.000000,0
+84334270230,1,0,3,0,51.0,0.0,12.749681,0.000000,0.0,0,0.250000,0
+84327305282,0,0,1,0,0.0,0.0,0.000000,0.000000,0.0,0,0.000000,0
+84939173666,1,1,0,0,12.0,44.0,11.998800,43.995600,1.0,0,1.000000,0

In [54]:
#Get and Convert data not_label to csv
not_label_new=data_phone.loc[(data_phone.Spam==0)]
not_label_new.to_csv('not_label_new.csv', index=False)

In [55]:
spam_new=data_phone.loc[(data_phone.Spam==1)]

In [56]:
spam_new.reset_index(level=0, inplace=True)

In [57]:
spam_new.describe()

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
count,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.000000,5456.0
mean,5.153776,1.563050,8.614919,1.300770,166.298387,113.896444,15.268738,5.002981,0.086663,13.057368,0.283039,1.0
std,31.017543,33.624383,20.498400,9.909836,686.937478,2453.923740,43.714945,38.430603,0.273157,42.015459,0.299711,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,1.0
50%,2.000000,0.000000,3.000000,0.000000,32.000000,0.000000,4.999960,0.000000,0.000000,5.000000,0.200000,1.0
75%,4.000000,0.000000,8.000000,1.000000,118.000000,0.000000,14.446877,0.000000,0.000000,10.000000,0.416667,1.0
max,1455.000000,2152.000000,779.000000,672.000000,30478.000000,112046.000000,1310.868913,2022.797720,1.000000,1599.000000,1.000000,1.0

In [58]:
spam_new = spam_new.drop(spam_new.loc[((spam_new.Spam==1)&(spam_new.call_to==0)&(spam_new.call_in!=0)&(spam_new.call_to_miss==0))|((spam_new.Spam==1)&(spam_new.avg_success==0)&(spam_new.call_to==0)&(spam_new.call_in==0))].index)

In [59]:
spam_new = spam_new.drop(spam_new.loc[(spam_new.call_to==0)].index)

In [60]:
spam_new.describe()

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
count,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.0
mean,6.775663,0.737108,10.151566,1.249157,218.632289,39.946265,20.073792,4.257244,0.071822,15.125542,0.350752,1.0
std,35.410971,3.745719,22.641226,3.841220,780.368692,369.857163,49.153339,26.779298,0.248095,38.600635,0.290452,0.0
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,1.000000,0.000000,1.000000,0.000000,21.000000,0.000000,3.499942,0.000000,0.000000,3.000000,0.142857,1.0
50%,2.000000,0.000000,4.000000,0.000000,60.000000,0.000000,8.499575,0.000000,0.000000,6.000000,0.259259,1.0
75%,5.000000,0.000000,9.000000,1.000000,168.750000,0.000000,18.998100,0.000000,0.000000,13.000000,0.500000,1.0
max,1455.000000,91.000000,779.000000,77.000000,30478.000000,14798.000000,1310.868913,857.364283,1.000000,1321.000000,1.000000,1.0

In [61]:
spam_new=spam_new.drop(spam_new.loc[(spam_new.Spam==1) & (spam_new.call_to == 0)].index)

In [62]:
spam_new

,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
0,+84989082183,11,65,30,50,718.0,1967.0,17.512152,17.104333,1.000000,92,0.403846,1
1,+84979169738,1,7,1,3,97.0,489.0,48.497575,48.899511,1.000000,12,0.666667,1
2,+842862563737,1,0,1,0,8.0,0.0,3.999800,0.000000,0.000000,2,0.500000,1
4,+84932735077,16,1,39,6,1841.0,10.0,33.472666,1.428551,0.016129,52,0.225806,1
5,+84932719354,18,0,38,3,492.0,0.0,8.785699,0.000000,0.033898,54,0.237288,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5445,+84345128788,1,0,0,0,71.0,0.0,70.992901,0.000000,0.000000,1,1.000000,1
5448,+84909475921,1,0,0,0,11.0,0.0,10.998900,0.000000,0.000000,1,1.000000,1
5450,+84378013173,1,0,0,0,3.0,0.0,2.999700,0.000000,0.000000,0,0.000000,1
5452,+84916119846,1,0,0,0,31.0,0.0,30.996900,0.000000,0.000000,1,1.000000,1
5454,+84915289654,1,0,0,0,33.0,0.0,32.996700,0.000000,0.000000,1,1.000000,1

In [63]:
spam_new.describe()

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
count,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.000000,4150.0
mean,6.775663,0.737108,10.151566,1.249157,218.632289,39.946265,20.073792,4.257244,0.071822,15.125542,0.350752,1.0
std,35.410971,3.745719,22.641226,3.841220,780.368692,369.857163,49.153339,26.779298,0.248095,38.600635,0.290452,0.0
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,1.000000,0.000000,1.000000,0.000000,21.000000,0.000000,3.499942,0.000000,0.000000,3.000000,0.142857,1.0
50%,2.000000,0.000000,4.000000,0.000000,60.000000,0.000000,8.499575,0.000000,0.000000,6.000000,0.259259,1.0
75%,5.000000,0.000000,9.000000,1.000000,168.750000,0.000000,18.998100,0.000000,0.000000,13.000000,0.500000,1.0
max,1455.000000,91.000000,779.000000,77.000000,30478.000000,14798.000000,1310.868913,857.364283,1.000000,1321.000000,1.000000,1.0

In [64]:
spam_new.to_csv('spam_new.csv', index=False)

In [65]:
data_member.to_csv('member_new.csv', index=False)

In [66]:
data_member.reset_index(level=0, inplace=True)
tam = data_member

In [67]:
tam

,member_phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
0,84931768866,439.0,345.0,317.0,183.0,53114.0,27539.0,70.256604,52.157187,0.820093,929,0.570872,0
1,60122976404,0.0,0.0,1.0,10.0,0.0,0.0,0.000000,0.000000,0.000000,7,0.000000,0
2,84937445006,18.0,17.0,23.0,38.0,712.0,488.0,17.365811,8.872711,0.802083,26,0.343750,0
3,917000112564,0.0,2.0,4.0,0.0,0.0,37.0,0.000000,18.499075,0.000000,5,0.333333,0
4,918077934174,2.0,1.0,3.0,1.0,299.0,325.0,59.798804,162.491875,0.000000,7,0.428571,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13362,84833101437,35.0,20.0,22.0,17.0,461.0,224.0,8.087705,6.054038,0.872340,73,0.468085,0
13363,84384599441,1.0,0.0,1.0,0.0,14.0,0.0,6.999650,0.000000,1.000000,2,0.500000,0
13364,84358609143,3.0,1.0,0.0,0.0,73.0,30.0,24.332522,29.997000,1.000000,3,1.000000,0
13365,84349606698,22.0,13.0,6.0,57.0,631.0,823.0,22.535634,11.757126,0.520408,79,0.346939,0
13366,233545363344,17.0,44.0,26.0,13.0,2682.0,4780.0,62.371948,83.859502,0.930000,76,0.580000,0

In [68]:
tam.rename(columns={'member_phone':'phone'}, inplace=True)

C:\Users\ASUS\Anaconda3\lib\site-packages\pandas\core\frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [69]:
tam

,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
0,84931768866,439.0,345.0,317.0,183.0,53114.0,27539.0,70.256604,52.157187,0.820093,929,0.570872,0
1,60122976404,0.0,0.0,1.0,10.0,0.0,0.0,0.000000,0.000000,0.000000,7,0.000000,0
2,84937445006,18.0,17.0,23.0,38.0,712.0,488.0,17.365811,8.872711,0.802083,26,0.343750,0
3,917000112564,0.0,2.0,4.0,0.0,0.0,37.0,0.000000,18.499075,0.000000,5,0.333333,0
4,918077934174,2.0,1.0,3.0,1.0,299.0,325.0,59.798804,162.491875,0.000000,7,0.428571,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13362,84833101437,35.0,20.0,22.0,17.0,461.0,224.0,8.087705,6.054038,0.872340,73,0.468085,0
13363,84384599441,1.0,0.0,1.0,0.0,14.0,0.0,6.999650,0.000000,1.000000,2,0.500000,0
13364,84358609143,3.0,1.0,0.0,0.0,73.0,30.0,24.332522,29.997000,1.000000,3,1.000000,0
13365,84349606698,22.0,13.0,6.0,57.0,631.0,823.0,22.535634,11.757126,0.520408,79,0.346939,0
13366,233545363344,17.0,44.0,26.0,13.0,2682.0,4780.0,62.371948,83.859502,0.930000,76,0.580000,0

In [70]:
spam_new

,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
0,+84989082183,11,65,30,50,718.0,1967.0,17.512152,17.104333,1.000000,92,0.403846,1
1,+84979169738,1,7,1,3,97.0,489.0,48.497575,48.899511,1.000000,12,0.666667,1
2,+842862563737,1,0,1,0,8.0,0.0,3.999800,0.000000,0.000000,2,0.500000,1
4,+84932735077,16,1,39,6,1841.0,10.0,33.472666,1.428551,0.016129,52,0.225806,1
5,+84932719354,18,0,38,3,492.0,0.0,8.785699,0.000000,0.033898,54,0.237288,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5445,+84345128788,1,0,0,0,71.0,0.0,70.992901,0.000000,0.000000,1,1.000000,1
5448,+84909475921,1,0,0,0,11.0,0.0,10.998900,0.000000,0.000000,1,1.000000,1
5450,+84378013173,1,0,0,0,3.0,0.0,2.999700,0.000000,0.000000,0,0.000000,1
5452,+84916119846,1,0,0,0,31.0,0.0,30.996900,0.000000,0.000000,1,1.000000,1
5454,+84915289654,1,0,0,0,33.0,0.0,32.996700,0.000000,0.000000,1,1.000000,1

In [71]:
icaller_data_new = pd.concat([spam_new,tam.sample(4000)],axis=0)

In [72]:
icaller_data_new.to_csv('icaller_data_new.csv', index=False)

In [73]:
icaller_data_new

,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
0,+84989082183,11.0,65.0,30.0,50.0,718.0,1967.0,17.512152,17.104333,1.000000,92,0.403846,1
1,+84979169738,1.0,7.0,1.0,3.0,97.0,489.0,48.497575,48.899511,1.000000,12,0.666667,1
2,+842862563737,1.0,0.0,1.0,0.0,8.0,0.0,3.999800,0.000000,0.000000,2,0.500000,1
4,+84932735077,16.0,1.0,39.0,6.0,1841.0,10.0,33.472666,1.428551,0.016129,52,0.225806,1
5,+84932719354,18.0,0.0,38.0,3.0,492.0,0.0,8.785699,0.000000,0.033898,54,0.237288,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,84393448426,41.0,31.0,14.0,13.0,2929.0,3186.0,53.254449,72.408926,0.676768,62,0.686869,0
964,84988388949,41.0,17.0,19.0,0.0,3702.0,1470.0,61.699897,86.470080,0.311688,17,0.727273,0
12864,84906898778,29.0,32.0,19.0,10.0,1619.0,1515.0,33.729096,36.071343,0.600000,69,0.600000,0
11484,84909397336,48.0,20.0,10.0,16.0,4279.0,1523.0,73.775735,42.305438,0.744681,76,0.680851,0
10133,84336277307,81.0,79.0,112.0,38.0,3291.0,3950.0,17.051805,33.760655,0.806452,172,0.487097,0