In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("call_histories_u.csv")

In [3]:
df.sample(10)

,member_phone,phone,type,time,in_contact,duration
692805,8.496506e+10,84911490019,1,1/5/2021 14:13,1,11
904563,8.433392e+10,84332075604,1,1/19/2021 17:29,1,23
502543,8.433511e+10,84923037543,2,12/20/2020 19:12,1,7
889293,8.476975e+10,84902320383,2,1/18/2021 6:01,0,26
971559,8.497257e+10,84388502666,2,1/22/2021 11:52,0,28
401577,8.486757e+10,84964533564,3,12/2/2020 8:19,1,0
1034276,8.497733e+10,84392641436,4,2/1/2021 14:13,1,0
385278,8.498102e+10,84336901905,2,11/29/2020 18:08,0,235
12932,8.432932e+10,84376914582,1,5/2/2020 17:27,0,13
427836,8.494336e+10,84986188999,4,12/15/2020 13:22,1,0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   member_phone  1048575 non-null  float64
 1   phone         1045848 non-null  object
 2   type          1048575 non-null  int64
 3   time          1048575 non-null  object
 4   in_contact    1048575 non-null  int64
 5   duration      1048575 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 48.0+ MB

In [5]:
df.member_phone.unique().shape

(8533,)

In [6]:
df.phone.unique().shape

(231915,)

In [7]:
# df['spam']=df.report_advertising+df.report_loan+df.report_debt+df.report_cheat+df.report_real_estate+df.report_other

In [8]:
# df.spam.sum()

In [9]:
df.isnull().sum()

member_phone       0
phone           2727
type               0
time               0
in_contact         0
duration           0
dtype: int64

In [10]:
df.dropna()

,member_phone,phone,type,time,in_contact,duration
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0

In [11]:
sdt=pd.DataFrame({'phone': np.append(df.phone.unique(),df.member_phone.unique())})
sdt.shape

(240448, 1)

In [12]:
df.member_phone.unique().shape[0]+df.phone.unique().shape[0]

240448

In [13]:
df.type.unique()

array([1, 4, 3, 2], dtype=int64)

In [14]:
df.head(20)

    member_phone        phone  type             time  in_contact  duration
0   8.493177e+10  84906806868     1   9/10/2020 8:03           1        24
1   8.493177e+10  84868173583     4   9/9/2020 10:40           1         0
2   8.493177e+10  84898585959     1   9/8/2020 19:51           1       920
3   8.493177e+10  84356386381     1  9/11/2020 17:38           0         7
4   8.493177e+10  84913101416     1   9/8/2020 13:13           1        39
5   8.493177e+10  84396642450     3   9/12/2020 9:48           0         0
6   8.493177e+10  84936986468     4   9/11/2020 6:57           1         0
7   8.493177e+10  84989082183     3   9/10/2020 7:03           1         0
8   8.493177e+10  84911366701     4   9/7/2020 11:58           0         0
9   8.493177e+10  84936986468     4    9/9/2020 7:23           1         0
10  8.493177e+10  84961385474     4  9/10/2020 17:40           0         0
11  8.493177e+10  84989082183     1  9/14/2020 17:01           1         2
12  8.493177e+10  84936986468     2   9/11/2020 7:00           1        12
13  8.493177e+10  84916398883     1   9/11/2020 8:39           1       100
14  8.493177e+10  84989082183     4  9/14/2020 21:52           1         0
15  8.493177e+10  84359876589     1  9/15/2020 14:19           0        15
16  8.493177e+10  84913101416     4   9/10/2020 8:17           1         0
17  8.493177e+10  8.42857E+11     3  9/15/2020 16:21           0         0
18  8.493177e+10  8.42473E+11     3   9/8/2020 14:28           0         0
19  8.493177e+10  84936986468     2    9/8/2020 8:36           1        19

In [15]:
len(df.phone)

1048575

In [16]:
from sklearn.preprocessing import OneHotEncoder

# Use as many lines of code as you need!
# df.type.astype('category')
# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False,drop=None)
OH = pd.DataFrame(OH_encoder.fit_transform(np.array(df.type).reshape(-1,1)),columns=['call_in','call_to','call_in_miss','call_to_miss'])
OH

         call_in  call_to  call_in_miss  call_to_miss
0            1.0      0.0           0.0           0.0
1            0.0      0.0           0.0           1.0
2            1.0      0.0           0.0           0.0
3            1.0      0.0           0.0           0.0
4            1.0      0.0           0.0           0.0
...          ...      ...           ...           ...
1048570      0.0      0.0           0.0           1.0
1048571      0.0      1.0           0.0           0.0
1048572      0.0      1.0           0.0           0.0
1048573      0.0      0.0           1.0           0.0
1048574      0.0      0.0           1.0           0.0

[1048575 rows x 4 columns]

In [17]:
data=df.copy()
data

,member_phone,phone,type,time,in_contact,duration
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0

In [18]:
df

,member_phone,phone,type,time,in_contact,duration
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0

In [19]:
df['hour']=pd.to_datetime(df.time).dt.hour
df['day_of_week']=pd.to_datetime(df.time).dt.dayofweek
df

,member_phone,phone,type,time,in_contact,duration,hour,day_of_week
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24,8,3
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0,10,2
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920,19,1
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7,17,4
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39,13,1
...,...,...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0,12,1
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7,11,1
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14,11,1
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0,9,1
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0,9,1

In [20]:
df.day_of_week.unique()

array([3, 2, 1, 4, 5, 0, 6], dtype=int64)

In [21]:
df['in_hour']=(df['hour']>7)&(df['hour']<19)&(df.day_of_week!=6)
df['in_hour']

0           True
1           True
2          False
3           True
4           True
           ...
1048570     True
1048571     True
1048572     True
1048573     True
1048574     True
Name: in_hour, Length: 1048575, dtype: bool

In [22]:
df['success']=(df.duration>6)&(df.time!=3)
df

,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24,8,3,True,True
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0,10,2,True,False
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920,19,1,False,True
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7,17,4,True,True
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39,13,1,True,True
...,...,...,...,...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0,12,1,True,False
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7,11,1,True,True
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14,11,1,True,True
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0,9,1,True,False
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0,9,1,True,False

In [23]:
df1=pd.concat([df,OH],axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   member_phone  1048575 non-null  float64
 1   phone         1045848 non-null  object
 2   type          1048575 non-null  int64
 3   time          1048575 non-null  object
 4   in_contact    1048575 non-null  int64
 5   duration      1048575 non-null  int64
 6   hour          1048575 non-null  int64
 7   day_of_week   1048575 non-null  int64
 8   in_hour       1048575 non-null  bool
 9   success       1048575 non-null  bool
 10  call_in       1048575 non-null  float64
 11  call_to       1048575 non-null  float64
 12  call_in_miss  1048575 non-null  float64
 13  call_to_miss  1048575 non-null  float64
dtypes: bool(2), float64(5), int64(5), object(2)
memory usage: 98.0+ MB

In [24]:
df1['duration_call_to']=df1.duration*df1.call_to
df1['duration_call_in']=df1.duration*df1.call_in
df1['duration_call_to_miss']=df1.duration*df1.call_to_miss
df1['duration_call_in_miss']=df1.duration*df1.call_in_miss
df1.member_phone=df1.member_phone.astype('int64').astype('string').astype('object')
df1

,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success,call_in,call_to,call_in_miss,call_to_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss
0,84931768866,84906806868,1,9/10/2020 8:03,1,24,8,3,True,True,1.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0
1,84931768866,84868173583,4,9/9/2020 10:40,1,0,10,2,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,84931768866,84898585959,1,9/8/2020 19:51,1,920,19,1,False,True,1.0,0.0,0.0,0.0,0.0,920.0,0.0,0.0
3,84931768866,84356386381,1,9/11/2020 17:38,0,7,17,4,True,True,1.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
4,84931768866,84913101416,1,9/8/2020 13:13,1,39,13,1,True,True,1.0,0.0,0.0,0.0,0.0,39.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,84987575765,84866824824,4,2/2/2021 12:51,0,0,12,1,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1048571,84987575765,84974567612,2,2/2/2021 11:55,1,7,11,1,True,True,0.0,1.0,0.0,0.0,7.0,0.0,0.0,0.0
1048572,84987575765,84869056447,2,2/2/2021 11:45,0,14,11,1,True,True,0.0,1.0,0.0,0.0,14.0,0.0,0.0,0.0
1048573,84987575765,84973563533,3,2/2/2021 9:57,1,0,9,1,True,False,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1048574,84987575765,84973563533,3,2/2/2021 9:56,1,0,9,1,True,False,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [25]:
OH.columns

Index(['call_in', 'call_to', 'call_in_miss', 'call_to_miss'], dtype='object')

In [26]:
# to1=(df1.call_in.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
# to2=(df1.call_to.astype('bool')*df1.phone.astype('object')).astype('object')
# to3=(df1.call_in_miss.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
# to4=(df1.call_to_miss.astype('bool')*df1.phone.astype('object')).astype('object')

# df1['to']=to1+to2+to3+to4

In [27]:
# in1=(df1.call_to.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
# in2=(df1.call_in.astype('bool')*df1.phone.astype('object')).astype('object')
# in3=(df1.call_to_miss.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
# in4=(df1.call_in_miss.astype('bool')*df1.phone.astype('object')).astype('object')

# df1['in']=in1+in2+in3+in4

In [28]:
# import networkx as nx
# G = nx.from_pandas_edgelist(df1,source='to',target='in',create_using=nx.DiGraph)

# pr = nx.pagerank(G)

# pageranks = pd.DataFrame(pr.items(), columns=["title", "pagerank"])
# pageranks.pagerank=pageranks.pagerank*100000

In [29]:
# pageranks

In [30]:
# pageranks
# for i in data_icaller.index:
#     print(pageranks.loc[pageranks.title==i,'pagerank'])

In [31]:
a=df1.groupby(['member_phone'],sort=False).sum()
a.index

Index(['84931768866', '60122976404', '84937445006', '917000000000',
       '918078000000', '84904427330', '639453000000', '84392266391',
       '84799604097', '84343897325',
       ...
       '84896423457', '84979654117', '84938233184', '84971720315',
       '84963730855', '84337890342', '84792609681', '84918424394',
       '84985954204', '84987575765'],
      dtype='object', name='member_phone', length=8533)

In [32]:
# a['pagerank']=0.0
# for i in a.index:
#     a['pagerank'][i]=pageranks.loc[pageranks.title==i,'pagerank']

In [33]:
# a.pagerank

In [34]:
a['sum_call']=a.call_to+a.call_in+a.call_to_miss+a.call_in_miss

In [35]:
a['Spam']=0

In [36]:
a

,type,in_contact,duration,hour,day_of_week,in_hour,success,call_in,call_to,call_in_miss,call_to_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
member_phone,,,,,,,,,,,,,,,,,
84931768866,2255,750,53443,12226,2522,674,487,238.0,286.0,143.0,254.0,34330.0,19113.0,0.0,0.0,921.0,0
60122976404,34,0,0,159,43,7,0,0.0,0.0,10.0,1.0,0.0,0.0,0.0,0.0,11.0,0
84937445006,259,77,1200,1483,374,26,33,17.0,18.0,38.0,23.0,712.0,488.0,0.0,0.0,96.0,0
917000000000,18,0,37,96,23,5,2,2.0,0.0,0.0,4.0,0.0,37.0,0.0,0.0,6.0,0
918078000000,20,0,624,98,0,7,3,1.0,2.0,1.0,3.0,299.0,325.0,0.0,0.0,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84337890342,150,67,1196,1229,331,51,48,61.0,7.0,13.0,9.0,77.0,1119.0,0.0,0.0,90.0,0
84792609681,32,13,2246,213,15,3,11,2.0,9.0,0.0,3.0,2045.0,201.0,0.0,0.0,14.0,0
84918424394,197,54,3462,1408,311,62,58,46.0,17.0,23.0,12.0,579.0,2883.0,0.0,0.0,98.0,0
84985954204,209,81,2066,1079,316,50,55,37.0,21.0,10.0,25.0,529.0,1537.0,0.0,0.0,93.0,0
84987575765,99,29,686,507,41,33,19,7.0,15.0,2.0,14.0,553.0,133.0,0.0,0.0,38.0,0

In [37]:
phone=pd.read_csv('phones.csv')

In [38]:
phone.sample(10)

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct
191103,84705377531,0120 537 7531,BÃ¬nh Máº¹ Nháº­t,BÃ¬nh Máº¹ Nháº­t,1,0,0,0,0,0,0,0,0,0
40029,84913379475,913379475,Tuáº¥n Viá»‡t,Nguyá»…n Tuáº¥n Viá»‡t,0,0,0,0,0,0,0,0,0,0
13671,84915864688,915864688,Ná»¯ Amy,Tráº§n Ná»¯ Amy,0,0,0,0,0,0,0,0,0,0
348149,84982125095,982125095,Ubnd P. Thuáº­n HÃ²a C ChÃ¢u,Ubnd P. Thuáº­n HÃ²a C ChÃ¢u,1,0,0,0,0,0,0,0,0,0
832309,84342103120,342103120,CaÌnh Cau,CaÌnh Cau,1,0,0,0,0,0,0,0,0,0
230352,84946808589,946808589,Loan Xe May,Loan Xe May,1,0,0,0,0,0,0,0,0,0
723566,8.21081E+11,8.21081E+11,Ngoc Cuong - A1,Ngoc Cuong - A1,1,0,0,0,0,0,0,0,0,0
187959,84909074424,909074424,LÃ nh Oanh,LÃ nh Oanh,1,0,0,0,0,0,0,0,0,0
654498,84976600019,097-660-0019,Nam LÃ´,Nam LÃ´,1,0,0,0,0,0,0,0,0,0
382680,84819440400,819440400,Cá»§a Äiá»‡n Lá»±c,Cá»§a Äiá»‡n Lá»±c,1,0,0,0,0,0,0,0,0,0

In [39]:
phone['sum_report']=phone.report_advertising+phone.report_loan+phone.report_debt+phone.report_cheat+phone.report_real_estate+phone.report_other

In [40]:
phone.head()

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct,sum_report
0,84785169744,84785169744,Nguyá»…n T Nga,Nguyá»…n Thá»‹ Nga\nNga,0,0,0,0,0,0,0,0,0,0,0
1,84345918901,84345918901,Nguyá»…n Anh Tuáº¥n 123,DÆ°Æ¡ng LÃ¢m Vy\r\nTuáº¥n Va\r\nGrooo Tuáº¥nva,0,0,0,0,0,0,0,0,0,0,0
2,84909437979,84909437979,Tuyáº¿t NgÃ¢n,Nguyá»…n Thá»‹ Tuyáº¿t NgÃ¢n,0,0,0,0,0,0,0,0,0,0,0
3,84982997171,982997171,Tráº§n Ngá»c ThiÃªn Anh,Tráº§n Ngá»c ThiÃªn Anh\nTráº§n Ngá»c ThiÃªn...,0,0,0,0,0,0,0,0,0,0,0
4,84813313687,84813313687,Tráº§n Ngá»c ThiÃªn Anh,Tráº§n Ngá»c ThiÃªn Anh\nTráº§n Ngá»c ThiÃªn...,0,0,0,0,0,0,0,0,0,0,0

In [41]:
phone['Spam']=(phone['sum_report']>0) & (phone.report_not_spam==0)
phone['Spam'].sum()
# (phone['sum_report']>0) & (phone.report_not_spam==0)

2669

In [42]:
phone.report_not_spam.index

RangeIndex(start=0, stop=1048575, step=1)

In [43]:
phone_spam=phone.loc[phone.Spam==1]
for i in phone_spam.phone:
    if (i in a.index):
        a.loc[i,'Spam']=1

In [44]:
a.Spam.sum()

7

In [45]:
a['avg_in_contact']=a.in_contact/a.sum_call

In [46]:
a['avg_in_contact']=a.in_contact/a.sum_call
a['avg_duration']=0.0
for i in a.index:
    if (a.call_to[i]+a.call_in[i])>0:
        a['avg_duration'][i]=a.duration[i]/(a.call_to[i]+a.call_in[i])

In [47]:
a['avg_duration_call_to']=a.duration_call_to/(a.call_to+0.0001+a.call_to_miss)
a['avg_duration_call_in']=a.duration_call_in/(a.call_in+0.0001+a.call_in_miss)

In [48]:
a['avg_success']=a.success/a.sum_call

In [49]:
a.columns

Index(['type', 'in_contact', 'duration', 'hour', 'day_of_week', 'in_hour',
       'success', 'call_in', 'call_to', 'call_in_miss', 'call_to_miss',
       'duration_call_to', 'duration_call_in', 'duration_call_to_miss',
       'duration_call_in_miss', 'sum_call', 'Spam', 'avg_in_contact',
       'avg_duration', 'avg_duration_call_to', 'avg_duration_call_in',
       'avg_success'],
      dtype='object')

In [50]:
featuers=['call_to', 'call_in', 'call_to_miss', 'call_in_miss','duration_call_to', 'duration_call_in','avg_duration_call_to', 'avg_duration_call_in','avg_in_contact','in_hour','avg_success','Spam']

In [51]:
b=a[featuers]
b

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
member_phone,,,,,,,,,,,,
84931768866,286.0,238.0,254.0,143.0,34330.0,19113.0,63.574062,50.165341,0.814332,674,0.528773,1
60122976404,0.0,0.0,1.0,10.0,0.0,0.0,0.000000,0.000000,0.000000,7,0.000000,0
84937445006,18.0,17.0,23.0,38.0,712.0,488.0,17.365811,8.872711,0.802083,26,0.343750,0
917000000000,0.0,2.0,4.0,0.0,0.0,37.0,0.000000,18.499075,0.000000,5,0.333333,0
918078000000,2.0,1.0,3.0,1.0,299.0,325.0,59.798804,162.491875,0.000000,7,0.428571,0
...,...,...,...,...,...,...,...,...,...,...,...,...
84337890342,7.0,61.0,9.0,13.0,77.0,1119.0,4.812470,15.121601,0.744444,51,0.533333,0
84792609681,9.0,2.0,3.0,0.0,2045.0,201.0,170.415247,100.494975,0.928571,3,0.785714,0
84918424394,17.0,46.0,12.0,23.0,579.0,2883.0,19.965448,41.782548,0.551020,62,0.591837,0
84985954204,21.0,37.0,25.0,10.0,529.0,1537.0,11.499975,32.702058,0.870968,50,0.591398,0
84987575765,15.0,7.0,14.0,2.0,553.0,133.0,19.068900,14.777614,0.763158,33,0.500000,0

In [52]:
# h=df.set_index('phone')

In [53]:
spam=b.loc[b.Spam==1]
spam.index

Index(['84931768866', '84965999999', '84989082183', '84909622160',
       '84903880703', '84985377665', '84337657452'],
      dtype='object', name='member_phone')

In [54]:
# history_spam=h.loc[spam.index,:]

In [55]:
# history_spam.to_csv('history_spam.csv')

In [56]:
# spam.index

In [57]:
not_spam=b.loc[b.Spam!=1]
not_spam

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
member_phone,,,,,,,,,,,,
60122976404,0.0,0.0,1.0,10.0,0.0,0.0,0.000000,0.000000,0.000000,7,0.000000,0
84937445006,18.0,17.0,23.0,38.0,712.0,488.0,17.365811,8.872711,0.802083,26,0.343750,0
917000000000,0.0,2.0,4.0,0.0,0.0,37.0,0.000000,18.499075,0.000000,5,0.333333,0
918078000000,2.0,1.0,3.0,1.0,299.0,325.0,59.798804,162.491875,0.000000,7,0.428571,0
84904427330,97.0,30.0,45.0,20.0,9725.0,1915.0,68.485867,38.299923,0.901042,129,0.661458,0
...,...,...,...,...,...,...,...,...,...,...,...,...
84337890342,7.0,61.0,9.0,13.0,77.0,1119.0,4.812470,15.121601,0.744444,51,0.533333,0
84792609681,9.0,2.0,3.0,0.0,2045.0,201.0,170.415247,100.494975,0.928571,3,0.785714,0
84918424394,17.0,46.0,12.0,23.0,579.0,2883.0,19.965448,41.782548,0.551020,62,0.591837,0
84985954204,21.0,37.0,25.0,10.0,529.0,1537.0,11.499975,32.702058,0.870968,50,0.591398,0
84987575765,15.0,7.0,14.0,2.0,553.0,133.0,19.068900,14.777614,0.763158,33,0.500000,0

In [66]:
b.loc[b.Spam==1]

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
member_phone,,,,,,,,,,,,
84931768866,286.0,238.0,254.0,143.0,34330.0,19113.0,63.574062,50.165341,0.814332,674,0.528773,1
84965999999,133.0,207.0,175.0,166.0,7440.0,6297.0,24.155836,16.882033,0.483113,473,0.355360,1
84989082183,40.0,23.0,17.0,20.0,1998.0,1730.0,35.052570,40.232465,0.760000,85,0.550000,1
84909622160,17.0,115.0,44.0,60.0,601.0,3674.0,9.852443,20.994274,0.394068,145,0.415254,1
84903880703,16.0,30.0,5.0,60.0,2079.0,2295.0,98.999529,25.499972,0.702703,85,0.414414,1
84985377665,3.0,8.0,0.0,11.0,54.0,507.0,17.999400,26.684070,0.818182,17,0.500000,1
84337657452,4.0,0.0,14.0,2.0,23.0,0.0,1.277771,0.000000,0.000000,17,0.050000,1

In [59]:
a.loc[a.duration_call_to_miss>0]

Empty DataFrame
Columns: [type, in_contact, duration, hour, day_of_week, in_hour, success, call_in, call_to, call_in_miss, call_to_miss, duration_call_to, duration_call_in, duration_call_to_miss, duration_call_in_miss, sum_call, Spam, avg_in_contact, avg_duration, avg_duration_call_to, avg_duration_call_in, avg_success]
Index: []

[0 rows x 22 columns]

In [60]:
data.loc[(data.type==3)&(data.duration!=0)]

,member_phone,phone,type,time,in_contact,duration
7522,8.436702e+10,84827368626,3,9/20/2020 15:35,0,61
7534,8.436702e+10,84974121266,3,9/9/2020 16:33,0,46
7570,8.436702e+10,84877258408,3,9/13/2020 10:02,0,20
7576,8.436702e+10,84974121266,3,9/9/2020 16:37,0,45
10280,8.496600e+10,84368358888,3,10/26/2020 9:20,0,46
...,...,...,...,...,...,...
1047431,8.497540e+10,84963366841,3,2/2/2021 16:54,1,45
1047450,8.497540e+10,84981694208,3,2/2/2021 16:03,0,37
1047453,8.497540e+10,84936869833,3,2/2/2021 15:43,0,12
1047456,8.497540e+10,84961816303,3,2/2/2021 13:44,0,38
1047467,8.497540e+10,84904681353,3,2/2/2021 10:42,0,43

In [61]:
# not_spab=b.loc[(b.Spam==0)&(a.call_in!=0)&(a.call_to!=0)].sample(607)
not_spam=b.loc[(b.Spam==0)].sample(300,random_state=1)
not_spam['phone']=not_spam.index

In [62]:
not_spam.to_csv('not_spam.csv',index=False)
not_spam

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam,phone
member_phone,,,,,,,,,,,,,
84909392989,37.0,10.0,40.0,19.0,965.0,337.0,12.532451,11.620650,0.867925,90,0.443396,0,84909392989
84973951248,13.0,53.0,7.0,3.0,353.0,1637.0,17.649912,29.232091,0.815789,57,0.434211,0,84973951248
84985443007,69.0,84.0,49.0,34.0,2734.0,2744.0,23.169472,23.254218,0.699153,160,0.622881,0,84985443007
84337236926,13.0,37.0,22.0,24.0,341.0,1423.0,9.742829,23.327831,0.781250,40,0.489583,0,84337236926
84971203740,95.0,82.0,45.0,11.0,3068.0,2716.0,21.914270,29.204270,0.866953,172,0.695279,0,84971203740
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84939880852,44.0,24.0,24.0,7.0,3753.0,1555.0,55.191095,50.161129,0.939394,53,0.606061,0,84939880852
84973179967,25.0,39.0,22.0,11.0,1151.0,1855.0,24.489310,37.099926,0.319588,75,0.649485,0,84973179967
84333031102,32.0,19.0,36.0,11.0,2458.0,526.0,36.147006,17.533275,0.489796,92,0.520408,0,84333031102
84983832219,39.0,76.0,11.0,5.0,2791.0,3537.0,55.819888,43.666613,0.854962,102,0.847328,0,84983832219
84966743528,27.0,24.0,14.0,33.0,718.0,1055.0,17.512152,18.508739,0.469388,77,0.479592,0,84966743528