In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("C:\\Users\\ASUS\\Desktop\\AI Project\\Spam Calls SPIT\\icaller-data\\icaller_data_Long\\call_histories (1)_123.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2202101 entries, 0 to 2202100
Data columns (total 6 columns):
 #   Column        Dtype
---  ------        -----
 0   member_phone  int64
 1   phone         object
 2   type          int64
 3   time          object
 4   in_contact    int64
 5   duration      int64
dtypes: int64(4), object(2)
memory usage: 100.8+ MB

In [4]:
df.isnull().sum()

member_phone       0
phone           3166
type               0
time               0
in_contact         0
duration           0
dtype: int64

In [5]:
df.dropna(inplace=True)
df.reset_index(inplace=True)
df

,index,member_phone,phone,type,time,in_contact,duration
0,0,84931768866,+84906806868,1,2020-09-10 08:03:37,1,24
1,1,84931768866,+84868173583,4,2020-09-09 10:40:25,1,0
2,2,84931768866,+84898585959,1,2020-09-08 19:51:14,1,920
3,3,84931768866,+84356386381,1,2020-09-11 17:38:15,0,7
4,4,84931768866,+84913101416,1,2020-09-08 13:13:41,1,39
...,...,...,...,...,...,...,...
2198930,2202096,84943234949,+84328867985,2,2021-03-20 15:29:42,1,63
2198931,2202097,84923636846,+61405444678,5,2021-03-26 12:13:08,0,0
2198932,2202098,84923636846,+61405444678,5,2021-03-26 12:12:47,0,0
2198933,2202099,84923636846,+61423038585,5,2021-03-26 11:23:49,0,0
2198934,2202100,84923636846,+61423038585,5,2021-03-26 11:16:23,0,0

In [6]:
df.phone=df.phone.str.extract('(\d+)')

In [7]:
print(df[df['phone'].isnull()])

           index  member_phone phone  type                 time  in_contact  \
10322      10322   84965999999   NaN     4  2020-08-19 09:00:06           0
90450      90451   84386500579   NaN     4  2020-11-10 17:24:13           0
181674    181675   84328958156   NaN     4  2020-11-04 16:30:27           0
181717    181718   84328958156   NaN     4  2020-11-04 16:30:17           0
194236    194237   84337436360   NaN     4  2020-11-03 05:32:37           0
...          ...           ...   ...   ...                  ...         ...
1922242  1925408   84931428914   NaN     4  2021-03-10 17:00:40           0
1932630  1935796   84355585887   NaN     4  2021-03-13 12:03:33           0
2064049  2067215   84975985729   NaN     4  2021-03-17 07:55:02           0
2147266  2150432   84987639939   NaN     4  2021-03-23 14:02:40           0
2191341  2194507   84962615819   NaN     4  2021-03-19 10:28:28           0

         duration
10322           0
90450           0
181674          0
181717          0
194236          0
...           ...
1922242         0
1932630         0
2064049         0
2147266         0
2191341         0

[122 rows x 7 columns]

In [8]:
df['phone'] = pd.to_numeric(df['phone'], errors='coerce')

In [9]:
df = df.dropna(subset=['phone'])

In [10]:
print(df[df['phone'].isnull()])

Empty DataFrame
Columns: [index, member_phone, phone, type, time, in_contact, duration]
Index: []

In [11]:
df.member_phone=df.member_phone.astype('int64').astype('string').astype('object')
#số lượng member
df.member_phone.unique().shape
df.phone=df.phone.astype('int64').astype('string').astype('object')

C:\Users\ASUS\Anaconda3\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [12]:
df = df.loc[(df.type == 1) | (df.type == 2) | (df.type == 3) | (df.type == 4)]
df.reset_index(inplace=True)

In [13]:
phone = df.phone.unique()
member_phone = df.member_phone.unique()

In [14]:
# tổng sdt
sdt=pd.DataFrame({'phone': np.append(df.phone.unique(),df.member_phone.unique())})
sdt.phone.unique().shape

(438708,)

In [15]:
phone.shape

(427221,)

In [16]:
member_phone.shape

(13367,)

In [17]:
import time

In [18]:
df['hour']=pd.to_datetime(df.time).dt.hour
df['day_of_week']=pd.to_datetime(df.time).dt.dayofweek

In [19]:
df

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week
0,0,0,84931768866,84906806868,1,2020-09-10 08:03:37,1,24,8,3
1,1,1,84931768866,84868173583,4,2020-09-09 10:40:25,1,0,10,2
2,2,2,84931768866,84898585959,1,2020-09-08 19:51:14,1,920,19,1
3,3,3,84931768866,84356386381,1,2020-09-11 17:38:15,0,7,17,4
4,4,4,84931768866,84913101416,1,2020-09-08 13:13:41,1,39,13,1
...,...,...,...,...,...,...,...,...,...,...
2060374,2198926,2202092,84943234949,84919480096,4,2021-03-21 07:18:35,1,0,7,6
2060375,2198927,2202093,84943234949,84943999619,1,2021-03-20 20:31:29,1,10,20,5
2060376,2198928,2202094,84943234949,84328867985,1,2021-03-20 18:46:30,1,14,18,5
2060377,2198929,2202095,84943234949,84983499628,2,2021-03-20 18:07:47,1,27,18,5
2060378,2198930,2202096,84943234949,84328867985,2,2021-03-20 15:29:42,1,63,15,5

In [20]:
mang={'Vietel':[8486,8496,8497,8498,8432,8433,8434,8435,8436,8437,8438,8439],'Mobi':[8489,8490,8493,8470,8479,8477,8476,8478],'Vina':[8488,8491,8494,8483,8484,8485,8481,8482],'VNmobile':[8492,8458,8456],'Gmobile':[8499,8459]}
tmp1=[]
for i in df.phone.str[:4]:
    if int(i) in mang['Vietel']:
        tmp1.append('Vietel')
    elif int(i) in mang['Mobi']:
        tmp1.append('Mobi')
    elif int(i) in mang['Vina']:
        tmp1.append('Vina')
    elif int(i) in mang['VNmobile']:
        tmp1.append('VNmobile')
    elif int(i) in mang['Gmobile']:
        tmp1.append('Gmobile')
    else:
        tmp1.append('Other')
df['mang_phone']=tmp1
tmp2=[]
for i in df.member_phone.str[:4]:
    if int(i) in mang['Vietel']:
        tmp2.append('Vietel')
    elif int(i) in mang['Mobi']:
        tmp2.append('Mobi')
    elif int(i) in mang['Vina']:
        tmp2.append('Vina')
    elif int(i) in mang['VNmobile']:
        tmp2.append('VNmobile')
    elif int(i) in mang['Gmobile']:
        tmp2.append('Gmobile')
    else:
        tmp2.append('Other')
df['mang_member']=tmp2
df['cung_mang']=df['mang_phone']==df['mang_member']

In [21]:
df

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,mang_phone,mang_member,cung_mang
0,0,0,84931768866,84906806868,1,2020-09-10 08:03:37,1,24,8,3,Mobi,Mobi,True
1,1,1,84931768866,84868173583,4,2020-09-09 10:40:25,1,0,10,2,Vietel,Mobi,False
2,2,2,84931768866,84898585959,1,2020-09-08 19:51:14,1,920,19,1,Mobi,Mobi,True
3,3,3,84931768866,84356386381,1,2020-09-11 17:38:15,0,7,17,4,Vietel,Mobi,False
4,4,4,84931768866,84913101416,1,2020-09-08 13:13:41,1,39,13,1,Vina,Mobi,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060374,2198926,2202092,84943234949,84919480096,4,2021-03-21 07:18:35,1,0,7,6,Vina,Vina,True
2060375,2198927,2202093,84943234949,84943999619,1,2021-03-20 20:31:29,1,10,20,5,Vina,Vina,True
2060376,2198928,2202094,84943234949,84328867985,1,2021-03-20 18:46:30,1,14,18,5,Vietel,Vina,False
2060377,2198929,2202095,84943234949,84983499628,2,2021-03-20 18:07:47,1,27,18,5,Vietel,Vina,False
2060378,2198930,2202096,84943234949,84328867985,2,2021-03-20 15:29:42,1,63,15,5,Vietel,Vina,False

In [22]:
df['in_hour']=(df['hour']>7)&(df['hour']<19)&(df.day_of_week!=6)

In [23]:
df['success']=(df.duration>6)&(df.type!=3)
df

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,mang_phone,mang_member,cung_mang,in_hour,success
0,0,0,84931768866,84906806868,1,2020-09-10 08:03:37,1,24,8,3,Mobi,Mobi,True,True,True
1,1,1,84931768866,84868173583,4,2020-09-09 10:40:25,1,0,10,2,Vietel,Mobi,False,True,False
2,2,2,84931768866,84898585959,1,2020-09-08 19:51:14,1,920,19,1,Mobi,Mobi,True,False,True
3,3,3,84931768866,84356386381,1,2020-09-11 17:38:15,0,7,17,4,Vietel,Mobi,False,True,True
4,4,4,84931768866,84913101416,1,2020-09-08 13:13:41,1,39,13,1,Vina,Mobi,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060374,2198926,2202092,84943234949,84919480096,4,2021-03-21 07:18:35,1,0,7,6,Vina,Vina,True,False,False
2060375,2198927,2202093,84943234949,84943999619,1,2021-03-20 20:31:29,1,10,20,5,Vina,Vina,True,False,True
2060376,2198928,2202094,84943234949,84328867985,1,2021-03-20 18:46:30,1,14,18,5,Vietel,Vina,False,True,True
2060377,2198929,2202095,84943234949,84983499628,2,2021-03-20 18:07:47,1,27,18,5,Vietel,Vina,False,True,True
2060378,2198930,2202096,84943234949,84328867985,2,2021-03-20 15:29:42,1,63,15,5,Vietel,Vina,False,True,True

In [24]:
df

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,mang_phone,mang_member,cung_mang,in_hour,success
0,0,0,84931768866,84906806868,1,2020-09-10 08:03:37,1,24,8,3,Mobi,Mobi,True,True,True
1,1,1,84931768866,84868173583,4,2020-09-09 10:40:25,1,0,10,2,Vietel,Mobi,False,True,False
2,2,2,84931768866,84898585959,1,2020-09-08 19:51:14,1,920,19,1,Mobi,Mobi,True,False,True
3,3,3,84931768866,84356386381,1,2020-09-11 17:38:15,0,7,17,4,Vietel,Mobi,False,True,True
4,4,4,84931768866,84913101416,1,2020-09-08 13:13:41,1,39,13,1,Vina,Mobi,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060374,2198926,2202092,84943234949,84919480096,4,2021-03-21 07:18:35,1,0,7,6,Vina,Vina,True,False,False
2060375,2198927,2202093,84943234949,84943999619,1,2021-03-20 20:31:29,1,10,20,5,Vina,Vina,True,False,True
2060376,2198928,2202094,84943234949,84328867985,1,2021-03-20 18:46:30,1,14,18,5,Vietel,Vina,False,True,True
2060377,2198929,2202095,84943234949,84983499628,2,2021-03-20 18:07:47,1,27,18,5,Vietel,Vina,False,True,True
2060378,2198930,2202096,84943234949,84328867985,2,2021-03-20 15:29:42,1,63,15,5,Vietel,Vina,False,True,True

In [25]:
# chuyển type thành call to, callin, ... cho phone
from sklearn.preprocessing import OneHotEncoder

# Use as many lines of code as you need!
df.type.astype('category')
# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False,drop=None)
OH = pd.DataFrame(OH_encoder.fit_transform(np.array(df.type).reshape(-1,1)),columns=['call_to','call_in','call_to_miss','call_in_miss'])
OH

         call_to  call_in  call_to_miss  call_in_miss
0            1.0      0.0           0.0           0.0
1            0.0      0.0           0.0           1.0
2            1.0      0.0           0.0           0.0
3            1.0      0.0           0.0           0.0
4            1.0      0.0           0.0           0.0
...          ...      ...           ...           ...
2060374      0.0      0.0           0.0           1.0
2060375      1.0      0.0           0.0           0.0
2060376      1.0      0.0           0.0           0.0
2060377      0.0      1.0           0.0           0.0
2060378      0.0      1.0           0.0           0.0

[2060379 rows x 4 columns]

In [26]:
# chuyển type thành call to, callin, ... cho member
from sklearn.preprocessing import OneHotEncoder

# Use as many lines of code as you need!
# df.type.astype('category')
# Apply one-hot encoder to each column with categorical data
OH_encoder2 = OneHotEncoder(handle_unknown='ignore', sparse=False,drop=None)
OH2 = pd.DataFrame(OH_encoder2.fit_transform(np.array(df.type).reshape(-1,1)),columns=['call_in','call_to','call_in_miss','call_to_miss'])
OH2

         call_in  call_to  call_in_miss  call_to_miss
0            1.0      0.0           0.0           0.0
1            0.0      0.0           0.0           1.0
2            1.0      0.0           0.0           0.0
3            1.0      0.0           0.0           0.0
4            1.0      0.0           0.0           0.0
...          ...      ...           ...           ...
2060374      0.0      0.0           0.0           1.0
2060375      1.0      0.0           0.0           0.0
2060376      1.0      0.0           0.0           0.0
2060377      0.0      1.0           0.0           0.0
2060378      0.0      1.0           0.0           0.0

[2060379 rows x 4 columns]

In [27]:
OH.isnull().sum()

call_to         0
call_in         0
call_to_miss    0
call_in_miss    0
dtype: int64

# df1 is phone, df2 is member

In [28]:
df1 = pd.concat([df,OH],axis=1)

df1

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,mang_phone,mang_member,cung_mang,in_hour,success,call_to,call_in,call_to_miss,call_in_miss
0,0,0,84931768866,84906806868,1,2020-09-10 08:03:37,1,24,8,3,Mobi,Mobi,True,True,True,1.0,0.0,0.0,0.0
1,1,1,84931768866,84868173583,4,2020-09-09 10:40:25,1,0,10,2,Vietel,Mobi,False,True,False,0.0,0.0,0.0,1.0
2,2,2,84931768866,84898585959,1,2020-09-08 19:51:14,1,920,19,1,Mobi,Mobi,True,False,True,1.0,0.0,0.0,0.0
3,3,3,84931768866,84356386381,1,2020-09-11 17:38:15,0,7,17,4,Vietel,Mobi,False,True,True,1.0,0.0,0.0,0.0
4,4,4,84931768866,84913101416,1,2020-09-08 13:13:41,1,39,13,1,Vina,Mobi,False,True,True,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060374,2198926,2202092,84943234949,84919480096,4,2021-03-21 07:18:35,1,0,7,6,Vina,Vina,True,False,False,0.0,0.0,0.0,1.0
2060375,2198927,2202093,84943234949,84943999619,1,2021-03-20 20:31:29,1,10,20,5,Vina,Vina,True,False,True,1.0,0.0,0.0,0.0
2060376,2198928,2202094,84943234949,84328867985,1,2021-03-20 18:46:30,1,14,18,5,Vietel,Vina,False,True,True,1.0,0.0,0.0,0.0
2060377,2198929,2202095,84943234949,84983499628,2,2021-03-20 18:07:47,1,27,18,5,Vietel,Vina,False,True,True,0.0,1.0,0.0,0.0
2060378,2198930,2202096,84943234949,84328867985,2,2021-03-20 15:29:42,1,63,15,5,Vietel,Vina,False,True,True,0.0,1.0,0.0,0.0

In [29]:
df2 = pd.concat([df,OH2],axis=1)

df2

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,mang_phone,mang_member,cung_mang,in_hour,success,call_in,call_to,call_in_miss,call_to_miss
0,0,0,84931768866,84906806868,1,2020-09-10 08:03:37,1,24,8,3,Mobi,Mobi,True,True,True,1.0,0.0,0.0,0.0
1,1,1,84931768866,84868173583,4,2020-09-09 10:40:25,1,0,10,2,Vietel,Mobi,False,True,False,0.0,0.0,0.0,1.0
2,2,2,84931768866,84898585959,1,2020-09-08 19:51:14,1,920,19,1,Mobi,Mobi,True,False,True,1.0,0.0,0.0,0.0
3,3,3,84931768866,84356386381,1,2020-09-11 17:38:15,0,7,17,4,Vietel,Mobi,False,True,True,1.0,0.0,0.0,0.0
4,4,4,84931768866,84913101416,1,2020-09-08 13:13:41,1,39,13,1,Vina,Mobi,False,True,True,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060374,2198926,2202092,84943234949,84919480096,4,2021-03-21 07:18:35,1,0,7,6,Vina,Vina,True,False,False,0.0,0.0,0.0,1.0
2060375,2198927,2202093,84943234949,84943999619,1,2021-03-20 20:31:29,1,10,20,5,Vina,Vina,True,False,True,1.0,0.0,0.0,0.0
2060376,2198928,2202094,84943234949,84328867985,1,2021-03-20 18:46:30,1,14,18,5,Vietel,Vina,False,True,True,1.0,0.0,0.0,0.0
2060377,2198929,2202095,84943234949,84983499628,2,2021-03-20 18:07:47,1,27,18,5,Vietel,Vina,False,True,True,0.0,1.0,0.0,0.0
2060378,2198930,2202096,84943234949,84328867985,2,2021-03-20 15:29:42,1,63,15,5,Vietel,Vina,False,True,True,0.0,1.0,0.0,0.0

In [30]:
df1['duration_call_to']=df1.duration*df1.call_to
df1['duration_call_in']=df1.duration*df1.call_in
df1['duration_call_to_miss']=df1.duration*df1.call_to_miss
df1['duration_call_in_miss']=df1.duration*df1.call_in_miss
# df1.member_phone=df1.member_phone.astype('int64').astype('string').astype('object')

df1

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,...,in_hour,success,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss
0,0,0,84931768866,84906806868,1,2020-09-10 08:03:37,1,24,8,3,...,True,True,1.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0
1,1,1,84931768866,84868173583,4,2020-09-09 10:40:25,1,0,10,2,...,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,2,84931768866,84898585959,1,2020-09-08 19:51:14,1,920,19,1,...,False,True,1.0,0.0,0.0,0.0,920.0,0.0,0.0,0.0
3,3,3,84931768866,84356386381,1,2020-09-11 17:38:15,0,7,17,4,...,True,True,1.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0
4,4,4,84931768866,84913101416,1,2020-09-08 13:13:41,1,39,13,1,...,True,True,1.0,0.0,0.0,0.0,39.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060374,2198926,2202092,84943234949,84919480096,4,2021-03-21 07:18:35,1,0,7,6,...,False,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2060375,2198927,2202093,84943234949,84943999619,1,2021-03-20 20:31:29,1,10,20,5,...,False,True,1.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
2060376,2198928,2202094,84943234949,84328867985,1,2021-03-20 18:46:30,1,14,18,5,...,True,True,1.0,0.0,0.0,0.0,14.0,0.0,0.0,0.0
2060377,2198929,2202095,84943234949,84983499628,2,2021-03-20 18:07:47,1,27,18,5,...,True,True,0.0,1.0,0.0,0.0,0.0,27.0,0.0,0.0
2060378,2198930,2202096,84943234949,84328867985,2,2021-03-20 15:29:42,1,63,15,5,...,True,True,0.0,1.0,0.0,0.0,0.0,63.0,0.0,0.0

In [31]:
df2['duration_call_to']=df2.duration*df2.call_to
df2['duration_call_in']=df2.duration*df2.call_in
df2['duration_call_to_miss']=df2.duration*df2.call_to_miss
df2['duration_call_in_miss']=df2.duration*df2.call_in_miss
# df2.member_phone=df2.member_phone.astype('int64').astype('string').astype('object')

df2

,level_0,index,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,...,in_hour,success,call_in,call_to,call_in_miss,call_to_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss
0,0,0,84931768866,84906806868,1,2020-09-10 08:03:37,1,24,8,3,...,True,True,1.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0
1,1,1,84931768866,84868173583,4,2020-09-09 10:40:25,1,0,10,2,...,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,2,84931768866,84898585959,1,2020-09-08 19:51:14,1,920,19,1,...,False,True,1.0,0.0,0.0,0.0,0.0,920.0,0.0,0.0
3,3,3,84931768866,84356386381,1,2020-09-11 17:38:15,0,7,17,4,...,True,True,1.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
4,4,4,84931768866,84913101416,1,2020-09-08 13:13:41,1,39,13,1,...,True,True,1.0,0.0,0.0,0.0,0.0,39.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2060374,2198926,2202092,84943234949,84919480096,4,2021-03-21 07:18:35,1,0,7,6,...,False,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2060375,2198927,2202093,84943234949,84943999619,1,2021-03-20 20:31:29,1,10,20,5,...,False,True,1.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0
2060376,2198928,2202094,84943234949,84328867985,1,2021-03-20 18:46:30,1,14,18,5,...,True,True,1.0,0.0,0.0,0.0,0.0,14.0,0.0,0.0
2060377,2198929,2202095,84943234949,84983499628,2,2021-03-20 18:07:47,1,27,18,5,...,True,True,0.0,1.0,0.0,0.0,27.0,0.0,0.0,0.0
2060378,2198930,2202096,84943234949,84328867985,2,2021-03-20 15:29:42,1,63,15,5,...,True,True,0.0,1.0,0.0,0.0,63.0,0.0,0.0,0.0

In [32]:
del df1['member_phone']
del df1['type']
df1.to_csv('df1.csv', index=False)

In [33]:
df1_p=df1.groupby(['phone'],sort=True).sum()
df1_p['Spam']=0

In [34]:
df1_p

,level_0,index,in_contact,duration,hour,day_of_week,cung_mang,in_hour,success,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,Spam
phone,,,,,,,,,,,,,,,,,,
-9223372036854775808,38628295,38711102,4,0,495,110,3,15,0,0.0,0.0,0.0,37.0,0.0,0.0,0.0,0.0,0
0,153949749,154262660,10,166,2068,439,0,71,3,2.0,4.0,1.0,136.0,148.0,18.0,0.0,0.0,0
1,2520107587,2525133317,62,2679,28580,6387,145,1373,46,234.0,0.0,1689.0,140.0,2679.0,0.0,0.0,0.0,0
10,64798186,64926544,0,52,837,182,1,37,1,0.0,1.0,0.0,63.0,0.0,52.0,0.0,0.0,0
100,364204970,364944680,5,7,5195,1100,7,219,0,0.0,2.0,0.0,370.0,0.0,7.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,50133199,50232800,2,179,899,245,1,48,6,10.0,0.0,24.0,38.0,179.0,0.0,0.0,0.0,0
9999,2291950,2297645,0,0,35,7,0,1,0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0
99999,220222,220224,0,0,22,0,0,2,0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0
999999,1604887,1608053,0,0,12,3,0,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0
9999999,121551,121552,0,0,9,6,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0

In [35]:
del df1_p['duration_call_to_miss']
del df1_p['duration_call_in_miss']

In [36]:
# df1_p.reset_index(inplace=True)
# # df1_p = df1_p.rename(columns = {'index':'phone'})
# del df1_p['level_0']
# del df1_p['index']

In [37]:
df1_p

,level_0,index,in_contact,duration,hour,day_of_week,cung_mang,in_hour,success,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,Spam
phone,,,,,,,,,,,,,,,,
-9223372036854775808,38628295,38711102,4,0,495,110,3,15,0,0.0,0.0,0.0,37.0,0.0,0.0,0
0,153949749,154262660,10,166,2068,439,0,71,3,2.0,4.0,1.0,136.0,148.0,18.0,0
1,2520107587,2525133317,62,2679,28580,6387,145,1373,46,234.0,0.0,1689.0,140.0,2679.0,0.0,0
10,64798186,64926544,0,52,837,182,1,37,1,0.0,1.0,0.0,63.0,0.0,52.0,0
100,364204970,364944680,5,7,5195,1100,7,219,0,0.0,2.0,0.0,370.0,0.0,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,50133199,50232800,2,179,899,245,1,48,6,10.0,0.0,24.0,38.0,179.0,0.0,0
9999,2291950,2297645,0,0,35,7,0,1,0,0.0,0.0,0.0,2.0,0.0,0.0,0
99999,220222,220224,0,0,22,0,0,2,0,0.0,0.0,0.0,2.0,0.0,0.0,0
999999,1604887,1608053,0,0,12,3,0,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0
9999999,121551,121552,0,0,9,6,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0

In [38]:
# a = '#'
# df1_p["Indexes"]= df1_p["phone"].str.find(a)

In [39]:
# df1_p.groupby(['Indexes']).count()

In [40]:
# df1_p.loc[df1_p.Indexes == 1]

In [41]:
del df2['phone']
del df2['level_0']
del df2['index']
del df2['type']
df2.to_csv('df2.csv', index=False)

In [42]:
df2_m = df2.groupby(['member_phone'],sort=False).sum()
df2_m['Spam']=0

In [43]:
del df2_m['duration_call_to_miss']
del df2_m['duration_call_in_miss']

In [44]:
# df2_m.reset_index(inplace=True)
# # df1_p = df1_p.rename(columns = {'index':'phone'})

In [45]:
df2_m

,in_contact,duration,hour,day_of_week,cung_mang,in_hour,success,call_in,call_to,call_in_miss,call_to_miss,duration_call_to,duration_call_in,Spam
member_phone,,,,,,,,,,,,,,
84931768866,1053,80653,17297,3595,543,929,733,345.0,439.0,183.0,317.0,53114.0,27539.0,0
60122976404,0,0,159,43,11,7,0,0.0,0.0,10.0,1.0,0.0,0.0,0
84937445006,77,1200,1483,374,74,26,33,17.0,18.0,38.0,23.0,712.0,488.0,0
917000112564,0,37,96,23,6,5,2,2.0,0.0,0.0,4.0,0.0,37.0,0
918077934174,0,624,98,0,7,7,3,1.0,2.0,1.0,3.0,299.0,325.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84833101437,82,685,1264,304,68,73,44,20.0,35.0,17.0,22.0,461.0,224.0,0
84384599441,2,14,34,2,0,2,1,0.0,1.0,0.0,1.0,14.0,0.0,0
84358609143,4,103,67,12,4,3,4,1.0,3.0,0.0,0.0,73.0,30.0,0
84349606698,51,1454,1344,234,73,79,34,13.0,22.0,57.0,6.0,631.0,823.0,0
233545363344,93,7462,1439,269,100,76,58,44.0,17.0,13.0,26.0,2682.0,4780.0,0

# Phones

In [46]:
phone=pd.read_csv("C:\\Users\\ASUS\\Desktop\\AI Project\\Spam Calls SPIT\\icaller-data\\phones.csv")
phone.info()

C:\Users\ASUS\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (1,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4306630 entries, 0 to 4306629
Data columns (total 14 columns):
 #   Column               Dtype
---  ------               -----
 0   phone                object
 1   phone_raw            object
 2   name                 object
 3   name_list            object
 4   from_contact         int64
 5   report_advertising   int64
 6   report_loan          int64
 7   report_debt          int64
 8   report_cheat         int64
 9   report_real_estate   int64
 10  report_other         int64
 11  report_not_spam      int64
 12  report_name_wrong    int64
 13  report_name_correct  int64
dtypes: int64(10), object(4)
memory usage: 460.0+ MB

In [47]:
phone.phone=phone.phone.str.extract('(\d+)')

In [48]:
phone

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct
0,84785169744,+84785169744,Nguyễn T Nga,Nguyễn Thị Nga\nNga,0,0,0,0,0,0,0,0,0,0
1,84345918901,+84345918901,Nguyễn Anh Tuấn 123,Dương Lâm Vy\r\nTuấn Va\r\nGrooo Tuấnva,0,0,0,0,0,0,0,0,0,0
2,84909437979,+84909437979,Tuyết Ngân,Nguyễn Thị Tuyết Ngân,0,0,0,0,0,0,0,0,0,0
3,84982997171,0982997171,Trần Ngọc Thiên Anh,Trần Ngọc Thiên Anh\nTrần Ngọc Thiên Ân\nTrần ...,0,0,0,0,0,0,0,0,0,0
4,84813313687,+84813313687,Trần Ngọc Thiên Anh,Trần Ngọc Thiên Anh\nTrần Ngọc Thiên Ân\nTrần ...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4306625,84986068286,+84986068286,Xethanghuong,NaN,1,0,0,0,0,0,0,0,0,0
4306626,84387747207,+84387747207,Yến,NaN,1,0,0,0,0,0,0,0,0,0
4306627,84834200701,+84834200701,2 Cuong,NaN,1,0,0,0,0,0,0,0,0,0
4306628,84377609836,+84377609836,5 Cơm,NaN,1,0,0,0,0,0,0,0,0,0
4306629,84911339589,+84911339589,NaN,NaN,0,0,0,0,0,0,0,1,0,0

In [49]:
# phone_spam=phone.loc[phone.Spam==1]

In [50]:
tam = phone.groupby([phone.phone]).sum()

In [51]:
tam

,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct
phone,,,,,,,,,,
0,8,0,0,0,0,0,0,0,0,0
00,3,0,0,0,0,0,0,0,0,0
000,1,0,0,0,0,0,0,0,0,0
0000,3,0,0,0,0,0,0,0,0,0
00000,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
9999567211,0,0,0,0,0,0,0,0,0,0
9999733713,0,0,0,0,0,0,0,0,0,0
99997979633677,0,0,0,0,0,0,0,0,0,0
999999,0,0,0,0,0,0,0,0,0,0
99999991,0,0,0,0,0,0,0,0,0,0

In [52]:
phone['sum_report']=phone.report_advertising+phone.report_loan+phone.report_debt+phone.report_cheat+phone.report_real_estate+phone.report_other

Lọc spam > 3 lần

In [53]:
phone['Spam']=(phone['sum_report']>3) & (phone.report_not_spam==0)
# phone['Spam'].sum()

In [54]:
phone_spam=phone.loc[phone.Spam==1]

In [55]:
# phone_spam.phone=phone_spam.phone.astype('int64').astype('string').astype('object')

In [56]:
# phone_spam.reset_index(inplace=True)

In [57]:
# del phone_spam['index']

In [58]:
phone_spam.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 266 entries, 36552 to 4269174
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   phone                266 non-null    object
 1   phone_raw            265 non-null    object
 2   name                 160 non-null    object
 3   name_list            123 non-null    object
 4   from_contact         266 non-null    int64
 5   report_advertising   266 non-null    int64
 6   report_loan          266 non-null    int64
 7   report_debt          266 non-null    int64
 8   report_cheat         266 non-null    int64
 9   report_real_estate   266 non-null    int64
 10  report_other         266 non-null    int64
 11  report_not_spam      266 non-null    int64
 12  report_name_wrong    266 non-null    int64
 13  report_name_correct  266 non-null    int64
 14  sum_report           266 non-null    int64
 15  Spam                 266 non-null    bool
dtypes: bool(1), int64(11), object(4)
memory usage: 33.5+ KB

In [59]:
phone_spam

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct,sum_report,Spam
36552,84975503535,+84975503535,Nam ĐV - Grooo,Nam Đv - Name List,1,0,0,0,0,4,1,0,0,0,5,True
93735,84900,900,ung xiền,Tt\nBk\nTong Dai\nNgười Tốt\nVinaphone\n900\nU...,1,1,1,0,3,5,2,0,1,2,12,True
93776,84394955554,+84394955554,NaN,\r\nĐòi Nợ,0,0,2,2,0,1,2,0,0,0,7,True
94485,84932752431,+84932752431,Đòi Nợ Fe,NaN,0,4,0,6,0,0,0,0,0,0,10,True
94511,84868947997,+84868947997,Anh Hai,\nCk Tâm\r\nĐòi Nợ Tamo\nTamo Vt,0,0,0,4,2,0,2,0,0,0,8,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4006028,84905358848,+84905358848,Ma,NaN,1,4,0,0,0,0,0,0,0,0,4,True
4059532,84862353088,+84862353088,NaN,NaN,0,0,0,3,1,0,0,0,0,0,4,True
4205725,84987926917,+84987926917,Ba Chấn,NaN,1,0,0,0,0,0,4,0,0,0,4,True
4229074,84812703293,+84812703293,NaN,NaN,0,0,1,0,5,0,0,0,0,0,6,True
4269174,84584123190,+84584123190,Sim Vietnam,NaN,0,0,0,0,0,0,8,0,0,0,8,True

In [60]:
df1_p

,level_0,index,in_contact,duration,hour,day_of_week,cung_mang,in_hour,success,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,Spam
phone,,,,,,,,,,,,,,,,
-9223372036854775808,38628295,38711102,4,0,495,110,3,15,0,0.0,0.0,0.0,37.0,0.0,0.0,0
0,153949749,154262660,10,166,2068,439,0,71,3,2.0,4.0,1.0,136.0,148.0,18.0,0
1,2520107587,2525133317,62,2679,28580,6387,145,1373,46,234.0,0.0,1689.0,140.0,2679.0,0.0,0
10,64798186,64926544,0,52,837,182,1,37,1,0.0,1.0,0.0,63.0,0.0,52.0,0
100,364204970,364944680,5,7,5195,1100,7,219,0,0.0,2.0,0.0,370.0,0.0,7.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999,50133199,50232800,2,179,899,245,1,48,6,10.0,0.0,24.0,38.0,179.0,0.0,0
9999,2291950,2297645,0,0,35,7,0,1,0,0.0,0.0,0.0,2.0,0.0,0.0,0
99999,220222,220224,0,0,22,0,0,2,0,0.0,0.0,0.0,2.0,0.0,0.0,0
999999,1604887,1608053,0,0,12,3,0,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0
9999999,121551,121552,0,0,9,6,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,0

In [61]:
for i in phone_spam.phone:
    if (i in df1_p.index):
        df1_p.loc[i,'Spam']=1

In [62]:
for i in phone_spam.phone:
    if (i in df2_m.index):
        df2_m.loc[i,'Spam']=1

In [63]:
df1_p.loc[df1_p.Spam == 1]

,level_0,index,in_contact,duration,hour,day_of_week,cung_mang,in_hour,success,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,Spam
phone,,,,,,,,,,,,,,,,
1,2520107587,2525133317,62,2679,28580,6387,145,1373,46,234.0,0.0,1689.0,140.0,2679.0,0.0,1
842,1197542,1200582,0,0,20,2,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0,1
842473000991,7712518,7726874,0,261,58,13,0,4,2,2.0,0.0,3.0,0.0,236.0,0.0,1
842499950215,58673951,58804121,0,129,1287,237,0,87,6,0.0,9.0,90.0,4.0,0.0,115.0,1
842499950216,58501087,58636032,1,305,1415,292,2,86,7,1.0,9.0,94.0,0.0,0.0,295.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84984809218,43321171,43402727,0,144,483,109,24,28,1,8.0,1.0,27.0,0.0,36.0,2.0,1
84985016578,125726692,125972642,0,907,1444,333,117,113,14,36.0,4.0,80.0,4.0,416.0,26.0,1
84985588942,5593523,5601682,47,365,744,152,47,37,23,4.0,21.0,0.0,22.0,70.0,295.0,1
84986014178,124830085,125068510,0,1510,1413,268,108,105,28,35.0,0.0,73.0,4.0,911.0,0.0,1
84986496947,161018005,161349340,0,1943,1816,379,131,122,33,43.0,1.0,91.0,7.0,1380.0,4.0,1

In [64]:
df1_p= df1_p.drop(labels=["level_0", "index"], axis=1)

In [65]:
df1_p['sum_call']=df1_p.call_to+df1_p.call_in+df1_p.call_to_miss+df1_p.call_in_miss
df2_m['sum_call']=df2_m.call_to+df2_m.call_in+df2_m.call_to_miss+df2_m.call_in_miss

In [66]:
def addF(a):
    a['avg_in_contact']=a.in_contact/a.sum_call
    a['avg_duration']=0.0
    for i in a.index:
        if (a.call_to[i]+a.call_in[i])>0:
            a['avg_duration'][i]=a.duration[i]/(a.call_to[i]+a.call_in[i])
    a['avg_duration_call_to']=a.duration_call_to/(a.call_to+0.0001+a.call_to_miss)
    a['avg_duration_call_in']=a.duration_call_in/(a.call_in+0.0001+a.call_in_miss)
    a['avg_success']=a.success/a.sum_call
    return a
df1_p=addF(df1_p)
df2_m=addF(df2_m)

C:\Users\ASUS\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [67]:
df2_m.reset_index(inplace=True)

In [68]:
df2_m

,member_phone,in_contact,duration,hour,day_of_week,cung_mang,in_hour,success,call_in,call_to,...,call_to_miss,duration_call_to,duration_call_in,Spam,sum_call,avg_in_contact,avg_duration,avg_duration_call_to,avg_duration_call_in,avg_success
0,84931768866,1053,80653,17297,3595,543,929,733,345.0,439.0,...,317.0,53114.0,27539.0,0,1284.0,0.820093,102.873724,70.256604,52.157187,0.570872
1,60122976404,0,0,159,43,11,7,0,0.0,0.0,...,1.0,0.0,0.0,0,11.0,0.000000,0.000000,0.000000,0.000000,0.000000
2,84937445006,77,1200,1483,374,74,26,33,17.0,18.0,...,23.0,712.0,488.0,0,96.0,0.802083,34.285714,17.365811,8.872711,0.343750
3,917000112564,0,37,96,23,6,5,2,2.0,0.0,...,4.0,0.0,37.0,0,6.0,0.000000,18.500000,0.000000,18.499075,0.333333
4,918077934174,0,624,98,0,7,7,3,1.0,2.0,...,3.0,299.0,325.0,0,7.0,0.000000,208.000000,59.798804,162.491875,0.428571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13362,84833101437,82,685,1264,304,68,73,44,20.0,35.0,...,22.0,461.0,224.0,0,94.0,0.872340,12.454545,8.087705,6.054038,0.468085
13363,84384599441,2,14,34,2,0,2,1,0.0,1.0,...,1.0,14.0,0.0,0,2.0,1.000000,14.000000,6.999650,0.000000,0.500000
13364,84358609143,4,103,67,12,4,3,4,1.0,3.0,...,0.0,73.0,30.0,0,4.0,1.000000,25.750000,24.332522,29.997000,1.000000
13365,84349606698,51,1454,1344,234,73,79,34,13.0,22.0,...,6.0,631.0,823.0,0,98.0,0.520408,41.542857,22.535634,11.757126,0.346939
13366,233545363344,93,7462,1439,269,100,76,58,44.0,17.0,...,26.0,2682.0,4780.0,0,100.0,0.930000,122.327869,62.371948,83.859502,0.580000

In [69]:
df1_p.reset_index(inplace=True)

In [70]:
df1_p.phone[3232]

'3760983713711'

# Bỏ những sđt là member ở data_phone từ data_member

In [71]:
features_p=['phone','call_to', 'call_in', 'call_to_miss', 'call_in_miss','duration_call_to', 'duration_call_in','avg_duration_call_to', 'avg_duration_call_in','avg_in_contact','in_hour','avg_success','cung_mang','Spam']

In [72]:
features_m=['member_phone','call_to', 'call_in', 'call_to_miss', 'call_in_miss','duration_call_to', 'duration_call_in','avg_duration_call_to', 'avg_duration_call_in','avg_in_contact','in_hour','avg_success','cung_mang','Spam']

In [73]:
data_phone = df1_p[features_p]
# data_phone = df1_p
data_phone = data_phone.astype({'call_to': 'int32','call_in': 'int32','call_to_miss': 'int32','call_in_miss': 'int32'})
data_member= df2_m[features_m]
# data_member = df2_m
data_member= data_member.astype({'call_to': 'int32','call_in': 'int32','call_to_miss': 'int32','call_in_miss': 'int32'})
# data_member= df2_m[featuers]

In [74]:
print(data_phone.shape)
print(data_member.shape)

(427221, 14)
(13367, 14)

In [75]:
#Lấy những thằng trùng nhau của phone và member
same=list(set(df1_p.index) & set(df2_m.index))
#Bỏ đi những thằng trùng đó ở phone
data_phone = data_phone.drop(same)
data_phone

,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
13367,842437689567,0,1,0,0,0.0,76.0,0.000000,75.992401,0.000000,1,1.000000,0,0
13368,842437689679,0,2,0,0,0.0,227.0,0.000000,113.494325,0.000000,0,1.000000,0,0
13369,842437710404,1,2,0,0,75.0,215.0,74.992501,107.494625,0.000000,3,1.000000,0,0
13370,842437717717,1,0,0,0,50.0,0.0,49.995000,0.000000,1.000000,1,1.000000,0,0
13371,842437727031,1,0,0,0,37.0,0.0,36.996300,0.000000,0.000000,1,1.000000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427216,999,10,0,24,38,179.0,0.0,5.264690,0.000000,0.027778,48,0.083333,1,0
427217,9999,0,0,0,2,0.0,0.0,0.000000,0.000000,0.000000,1,0.000000,0,0
427218,99999,0,0,0,2,0.0,0.0,0.000000,0.000000,0.000000,2,0.000000,0,0
427219,999999,0,0,0,1,0.0,0.0,0.000000,0.000000,0.000000,1,0.000000,0,0
427220,9999999,0,0,0,1,0.0,0.0,0.000000,0.000000,0.000000,0,0.000000,0,0

In [76]:
#Get and Convert data not_label to csv
not_label_new=data_phone.loc[(data_phone.Spam==0)]
not_label_new.to_csv('not_label_new.csv', index=False)

In [77]:
spam_new=data_phone.loc[(data_phone.Spam==1)]

In [78]:
spam_new.reset_index(level=0, inplace=True)

In [79]:
spam_new.describe()

,index,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
count,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,239.0
mean,239162.753138,22.384937,1.104603,35.820084,3.682008,627.648536,50.046025,12.592307,2.941327,0.056745,50.912134,0.237348,42.288703,1.0
std,97166.192442,95.618038,3.907752,42.639453,6.892888,1351.253711,388.488303,13.714583,14.823855,0.222217,87.803906,0.169646,107.860731,0.0
min,14021.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,197284.500000,6.000000,0.000000,11.000000,0.000000,103.000000,0.000000,3.989446,0.000000,0.000000,19.000000,0.138113,11.000000,1.0
50%,272097.000000,11.000000,0.000000,22.000000,2.000000,278.000000,0.000000,8.785699,0.000000,0.000000,31.000000,0.213592,28.000000,1.0
75%,272368.500000,17.000000,0.000000,40.000000,4.000000,645.500000,0.000000,15.115690,0.000000,0.000000,49.000000,0.287857,42.000000,1.0
max,409424.000000,1455.000000,28.000000,325.000000,60.000000,13363.000000,5578.000000,89.133036,174.311955,1.000000,1118.000000,1.000000,1595.000000,1.0

In [80]:
spam_new = spam_new.drop(spam_new.loc[((spam_new.Spam==1)&(spam_new.call_to==0)&(spam_new.call_in!=0)&(spam_new.call_to_miss==0))|((spam_new.Spam==1)&(spam_new.avg_success==0)&(spam_new.call_to==0)&(spam_new.call_in==0))].index)

In [81]:
spam_new = spam_new.drop(spam_new.loc[(spam_new.call_to==0)].index)

In [82]:
spam_new.describe()

,index,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
count,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.000000,230.0
mean,244045.200000,23.260870,1.095652,36.634783,3.743478,652.208696,48.934783,13.085049,2.504058,0.045922,52.317391,0.243773,43.886957,1.0
std,94686.761833,97.373865,3.942765,42.886329,7.006505,1371.698956,394.310221,13.747954,13.029407,0.198654,89.059468,0.165629,109.649044,0.0
min,14021.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0
25%,218497.500000,7.000000,0.000000,13.250000,0.250000,115.500000,0.000000,4.320201,0.000000,0.000000,20.000000,0.142857,12.000000,1.0
50%,272120.000000,12.000000,0.000000,23.000000,2.000000,305.000000,0.000000,9.150368,0.000000,0.000000,32.000000,0.215839,29.000000,1.0
75%,272378.750000,17.750000,0.000000,40.000000,4.000000,672.000000,0.000000,15.454358,0.000000,0.000000,49.750000,0.290242,43.750000,1.0
max,409424.000000,1455.000000,28.000000,325.000000,60.000000,13363.000000,5578.000000,89.133036,174.311955,1.000000,1118.000000,1.000000,1595.000000,1.0

In [83]:
spam_new.to_csv('spam_new.csv', index=False)

In [84]:
data_member

,member_phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
0,84931768866,439,345,317,183,53114.0,27539.0,70.256604,52.157187,0.820093,929,0.570872,543,0
1,60122976404,0,0,1,10,0.0,0.0,0.000000,0.000000,0.000000,7,0.000000,11,0
2,84937445006,18,17,23,38,712.0,488.0,17.365811,8.872711,0.802083,26,0.343750,74,0
3,917000112564,0,2,4,0,0.0,37.0,0.000000,18.499075,0.000000,5,0.333333,6,0
4,918077934174,2,1,3,1,299.0,325.0,59.798804,162.491875,0.000000,7,0.428571,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13362,84833101437,35,20,22,17,461.0,224.0,8.087705,6.054038,0.872340,73,0.468085,68,0
13363,84384599441,1,0,1,0,14.0,0.0,6.999650,0.000000,1.000000,2,0.500000,0,0
13364,84358609143,3,1,0,0,73.0,30.0,24.332522,29.997000,1.000000,3,1.000000,4,0
13365,84349606698,22,13,6,57,631.0,823.0,22.535634,11.757126,0.520408,79,0.346939,73,0
13366,233545363344,17,44,26,13,2682.0,4780.0,62.371948,83.859502,0.930000,76,0.580000,100,0

In [85]:
data_member.to_csv('member_neww.csv', index=False)

In [86]:
data_member.reset_index(level=0, inplace=True)
tam = data_member

In [87]:
tam

,index,member_phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
0,0,84931768866,439,345,317,183,53114.0,27539.0,70.256604,52.157187,0.820093,929,0.570872,543,0
1,1,60122976404,0,0,1,10,0.0,0.0,0.000000,0.000000,0.000000,7,0.000000,11,0
2,2,84937445006,18,17,23,38,712.0,488.0,17.365811,8.872711,0.802083,26,0.343750,74,0
3,3,917000112564,0,2,4,0,0.0,37.0,0.000000,18.499075,0.000000,5,0.333333,6,0
4,4,918077934174,2,1,3,1,299.0,325.0,59.798804,162.491875,0.000000,7,0.428571,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13362,13362,84833101437,35,20,22,17,461.0,224.0,8.087705,6.054038,0.872340,73,0.468085,68,0
13363,13363,84384599441,1,0,1,0,14.0,0.0,6.999650,0.000000,1.000000,2,0.500000,0,0
13364,13364,84358609143,3,1,0,0,73.0,30.0,24.332522,29.997000,1.000000,3,1.000000,4,0
13365,13365,84349606698,22,13,6,57,631.0,823.0,22.535634,11.757126,0.520408,79,0.346939,73,0
13366,13366,233545363344,17,44,26,13,2682.0,4780.0,62.371948,83.859502,0.930000,76,0.580000,100,0

In [88]:
tam.rename(columns={'member_phone':'phone'}, inplace=True)

In [89]:
tam

,index,phone,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,cung_mang,Spam
0,0,84931768866,439,345,317,183,53114.0,27539.0,70.256604,52.157187,0.820093,929,0.570872,543,0
1,1,60122976404,0,0,1,10,0.0,0.0,0.000000,0.000000,0.000000,7,0.000000,11,0
2,2,84937445006,18,17,23,38,712.0,488.0,17.365811,8.872711,0.802083,26,0.343750,74,0
3,3,917000112564,0,2,4,0,0.0,37.0,0.000000,18.499075,0.000000,5,0.333333,6,0
4,4,918077934174,2,1,3,1,299.0,325.0,59.798804,162.491875,0.000000,7,0.428571,7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13362,13362,84833101437,35,20,22,17,461.0,224.0,8.087705,6.054038,0.872340,73,0.468085,68,0
13363,13363,84384599441,1,0,1,0,14.0,0.0,6.999650,0.000000,1.000000,2,0.500000,0,0
13364,13364,84358609143,3,1,0,0,73.0,30.0,24.332522,29.997000,1.000000,3,1.000000,4,0
13365,13365,84349606698,22,13,6,57,631.0,823.0,22.535634,11.757126,0.520408,79,0.346939,73,0
13366,13366,233545363344,17,44,26,13,2682.0,4780.0,62.371948,83.859502,0.930000,76,0.580000,100,0