In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("call_histories_u.csv")

In [3]:
df.sample(10)

,member_phone,phone,type,time,in_contact,duration
896006,8.498700e+10,84918678822,1,1/19/2021 18:05,1,29
367052,8.489888e+10,84932713197,3,11/30/2020 13:30,0,0
805843,8.436260e+10,84383669337,4,1/1/2021 14:39,1,0
874459,8.438940e+10,84936169009,1,1/17/2021 7:21,1,26
499394,8.439550e+10,84963279931,3,12/24/2020 9:30,0,0
684606,8.496520e+10,84981057878,4,1/4/2021 9:59,0,0
196876,8.438981e+10,84825879499,3,11/1/2020 19:35,0,0
49434,8.433919e+10,84963324685,4,8/16/2020 8:31,0,0
1025762,8.497539e+10,84366831046,1,1/31/2021 12:52,1,18
435420,8.486800e+10,84901381009,1,12/13/2020 14:14,0,41

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   member_phone  1048575 non-null  float64
 1   phone         1045848 non-null  object
 2   type          1048575 non-null  int64
 3   time          1048575 non-null  object
 4   in_contact    1048575 non-null  int64
 5   duration      1048575 non-null  int64
dtypes: float64(1), int64(3), object(2)
memory usage: 48.0+ MB

In [5]:
df.member_phone.unique().shape

(8533,)

In [6]:
df.phone.unique().shape

(231915,)

In [7]:
# df['spam']=df.report_advertising+df.report_loan+df.report_debt+df.report_cheat+df.report_real_estate+df.report_other

In [8]:
# df.spam.sum()

In [9]:
df.isnull().sum()

member_phone       0
phone           2727
type               0
time               0
in_contact         0
duration           0
dtype: int64

In [10]:
df.dropna()

,member_phone,phone,type,time,in_contact,duration
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0

In [11]:
sdt=pd.DataFrame({'phone': np.append(df.phone.unique(),df.member_phone.unique())})
sdt.shape

(240448, 1)

In [12]:
df.member_phone.unique().shape[0]+df.phone.unique().shape[0]

240448

In [13]:
df.type.unique()

array([1, 4, 3, 2], dtype=int64)

In [14]:
df.head(20)

    member_phone        phone  type             time  in_contact  duration
0   8.493177e+10  84906806868     1   9/10/2020 8:03           1        24
1   8.493177e+10  84868173583     4   9/9/2020 10:40           1         0
2   8.493177e+10  84898585959     1   9/8/2020 19:51           1       920
3   8.493177e+10  84356386381     1  9/11/2020 17:38           0         7
4   8.493177e+10  84913101416     1   9/8/2020 13:13           1        39
5   8.493177e+10  84396642450     3   9/12/2020 9:48           0         0
6   8.493177e+10  84936986468     4   9/11/2020 6:57           1         0
7   8.493177e+10  84989082183     3   9/10/2020 7:03           1         0
8   8.493177e+10  84911366701     4   9/7/2020 11:58           0         0
9   8.493177e+10  84936986468     4    9/9/2020 7:23           1         0
10  8.493177e+10  84961385474     4  9/10/2020 17:40           0         0
11  8.493177e+10  84989082183     1  9/14/2020 17:01           1         2
12  8.493177e+10  84936986468     2   9/11/2020 7:00           1        12
13  8.493177e+10  84916398883     1   9/11/2020 8:39           1       100
14  8.493177e+10  84989082183     4  9/14/2020 21:52           1         0
15  8.493177e+10  84359876589     1  9/15/2020 14:19           0        15
16  8.493177e+10  84913101416     4   9/10/2020 8:17           1         0
17  8.493177e+10  8.42857E+11     3  9/15/2020 16:21           0         0
18  8.493177e+10  8.42473E+11     3   9/8/2020 14:28           0         0
19  8.493177e+10  84936986468     2    9/8/2020 8:36           1        19

In [15]:
len(df.phone)

1048575

In [16]:
from sklearn.preprocessing import OneHotEncoder

# Use as many lines of code as you need!
# df.type.astype('category')
# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False,drop=None)
OH = pd.DataFrame(OH_encoder.fit_transform(np.array(df.type).reshape(-1,1)),columns=['call_to','call_in','call_to_miss','call_in_miss'])
OH

         call_to  call_in  call_to_miss  call_in_miss
0            1.0      0.0           0.0           0.0
1            0.0      0.0           0.0           1.0
2            1.0      0.0           0.0           0.0
3            1.0      0.0           0.0           0.0
4            1.0      0.0           0.0           0.0
...          ...      ...           ...           ...
1048570      0.0      0.0           0.0           1.0
1048571      0.0      1.0           0.0           0.0
1048572      0.0      1.0           0.0           0.0
1048573      0.0      0.0           1.0           0.0
1048574      0.0      0.0           1.0           0.0

[1048575 rows x 4 columns]

In [17]:
data=df.copy()
data

,member_phone,phone,type,time,in_contact,duration
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0

In [18]:
df

,member_phone,phone,type,time,in_contact,duration
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39
...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0

In [19]:
df['hour']=pd.to_datetime(df.time).dt.hour
df['day_of_week']=pd.to_datetime(df.time).dt.dayofweek
df

,member_phone,phone,type,time,in_contact,duration,hour,day_of_week
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24,8,3
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0,10,2
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920,19,1
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7,17,4
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39,13,1
...,...,...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0,12,1
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7,11,1
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14,11,1
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0,9,1
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0,9,1

In [20]:
df.day_of_week.unique()

array([3, 2, 1, 4, 5, 0, 6], dtype=int64)

In [21]:
df['in_hour']=(df['hour']>7)&(df['hour']<19)&(df.day_of_week!=6)
df['in_hour']

0           True
1           True
2          False
3           True
4           True
           ...
1048570     True
1048571     True
1048572     True
1048573     True
1048574     True
Name: in_hour, Length: 1048575, dtype: bool

In [22]:
df['success']=(df.duration>6)&(df.time!=3)
df

,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success
0,8.493177e+10,84906806868,1,9/10/2020 8:03,1,24,8,3,True,True
1,8.493177e+10,84868173583,4,9/9/2020 10:40,1,0,10,2,True,False
2,8.493177e+10,84898585959,1,9/8/2020 19:51,1,920,19,1,False,True
3,8.493177e+10,84356386381,1,9/11/2020 17:38,0,7,17,4,True,True
4,8.493177e+10,84913101416,1,9/8/2020 13:13,1,39,13,1,True,True
...,...,...,...,...,...,...,...,...,...,...
1048570,8.498758e+10,84866824824,4,2/2/2021 12:51,0,0,12,1,True,False
1048571,8.498758e+10,84974567612,2,2/2/2021 11:55,1,7,11,1,True,True
1048572,8.498758e+10,84869056447,2,2/2/2021 11:45,0,14,11,1,True,True
1048573,8.498758e+10,84973563533,3,2/2/2021 9:57,1,0,9,1,True,False
1048574,8.498758e+10,84973563533,3,2/2/2021 9:56,1,0,9,1,True,False

In [23]:
df1=pd.concat([df,OH],axis=1)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   member_phone  1048575 non-null  float64
 1   phone         1045848 non-null  object
 2   type          1048575 non-null  int64
 3   time          1048575 non-null  object
 4   in_contact    1048575 non-null  int64
 5   duration      1048575 non-null  int64
 6   hour          1048575 non-null  int64
 7   day_of_week   1048575 non-null  int64
 8   in_hour       1048575 non-null  bool
 9   success       1048575 non-null  bool
 10  call_to       1048575 non-null  float64
 11  call_in       1048575 non-null  float64
 12  call_to_miss  1048575 non-null  float64
 13  call_in_miss  1048575 non-null  float64
dtypes: bool(2), float64(5), int64(5), object(2)
memory usage: 98.0+ MB

In [24]:
df1['duration_call_to']=df1.duration*df1.call_to
df1['duration_call_in']=df1.duration*df1.call_in
df1['duration_call_to_miss']=df1.duration*df1.call_to_miss
df1['duration_call_in_miss']=df1.duration*df1.call_in_miss
df1.member_phone=df1.member_phone.astype('int64').astype('string').astype('object')
df1

,member_phone,phone,type,time,in_contact,duration,hour,day_of_week,in_hour,success,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss
0,84931768866,84906806868,1,9/10/2020 8:03,1,24,8,3,True,True,1.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0
1,84931768866,84868173583,4,9/9/2020 10:40,1,0,10,2,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,84931768866,84898585959,1,9/8/2020 19:51,1,920,19,1,False,True,1.0,0.0,0.0,0.0,920.0,0.0,0.0,0.0
3,84931768866,84356386381,1,9/11/2020 17:38,0,7,17,4,True,True,1.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0
4,84931768866,84913101416,1,9/8/2020 13:13,1,39,13,1,True,True,1.0,0.0,0.0,0.0,39.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,84987575765,84866824824,4,2/2/2021 12:51,0,0,12,1,True,False,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1048571,84987575765,84974567612,2,2/2/2021 11:55,1,7,11,1,True,True,0.0,1.0,0.0,0.0,0.0,7.0,0.0,0.0
1048572,84987575765,84869056447,2,2/2/2021 11:45,0,14,11,1,True,True,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0
1048573,84987575765,84973563533,3,2/2/2021 9:57,1,0,9,1,True,False,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1048574,84987575765,84973563533,3,2/2/2021 9:56,1,0,9,1,True,False,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [25]:
df1.time[0][8]

'0'

In [26]:
OH.columns

Index(['call_to', 'call_in', 'call_to_miss', 'call_in_miss'], dtype='object')

In [27]:
df.columns

Index(['member_phone', 'phone', 'type', 'time', 'in_contact', 'duration',
       'hour', 'day_of_week', 'in_hour', 'success'],
      dtype='object')

In [28]:
to1=(df1.call_in.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
to2=(df1.call_to.astype('bool')*df1.phone.astype('object')).astype('object')
to3=(df1.call_in_miss.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
to4=(df1.call_to_miss.astype('bool')*df1.phone.astype('object')).astype('object')

df1['to']=to1+to2+to3+to4

In [29]:
in1=(df1.call_to.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
in2=(df1.call_in.astype('bool')*df1.phone.astype('object')).astype('object')
in3=(df1.call_to_miss.astype('bool')*df1.member_phone.astype('int64').astype('string').astype('object')).astype('object')
in4=(df1.call_in_miss.astype('bool')*df1.phone.astype('object')).astype('object')

df1['in']=in1+in2+in3+in4

In [30]:
# import networkx as nx
# G = nx.from_pandas_edgelist(df1,source='to',target='in',create_using=nx.DiGraph)

# pr = nx.pagerank(G)

# pageranks = pd.DataFrame(pr.items(), columns=["title", "pagerank"])
# pageranks.pagerank=pageranks.pagerank*100000

In [31]:
# pageranks

In [32]:
# pageranks
# for i in data_icaller.index:
#     print(pageranks.loc[pageranks.title==i,'pagerank'])

In [33]:
a=df1.groupby(['phone'],sort=False).sum()
a.index

Index(['84906806868', '84868173583', '84898585959', '84356386381',
       '84913101416', '84396642450', '84936986468', '84989082183',
       '84911366701', '84961385474',
       ...
       '84967575765', '84972316907', '84969956460', '84365507395',
       '84837541722', '84359963639', '84919904127', '84866824824',
       '84869056447', '84973563533'],
      dtype='object', name='phone', length=231914)

In [34]:
# a['pagerank']=0.0
# for i in a.index:
#     a['pagerank'][i]=pageranks.loc[pageranks.title==i,'pagerank']

In [35]:
# a.pagerank

In [36]:
a['sum_call']=a.call_to+a.call_in+a.call_to_miss+a.call_in_miss

In [37]:
a['Spam']=0

In [38]:
a

,type,in_contact,duration,hour,day_of_week,in_hour,success,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam
phone,,,,,,,,,,,,,,,,,
84906806868,3,2,35,22,5,2,2,1.0,1.0,0.0,0.0,24.0,11.0,0.0,0.0,2.0,0
84868173583,85,33,8410,356,72,33,23,1.0,22.0,0.0,10.0,23.0,8387.0,0.0,0.0,33.0,0
84898585959,38,16,1638,206,32,12,7,4.0,3.0,8.0,1.0,1261.0,377.0,0.0,0.0,16.0,0
84356386381,2,0,22,34,8,2,2,2.0,0.0,0.0,0.0,22.0,0.0,0.0,0.0,2.0,0
84913101416,11,6,375,72,18,5,5,3.0,2.0,0.0,1.0,116.0,259.0,0.0,0.0,6.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84359963639,9,0,135,67,5,5,3,3.0,1.0,0.0,1.0,59.0,76.0,0.0,0.0,5.0,0
84919904127,4,1,0,13,1,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
84866824824,4,0,0,12,1,1,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0
84869056447,2,0,14,11,1,1,1,0.0,1.0,0.0,0.0,0.0,14.0,0.0,0.0,1.0,0
84973563533,6,2,0,18,2,2,0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,0

In [39]:
phone=pd.read_csv('phones.csv')

In [40]:
phone.sample(10)

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct
575175,84906979245,090 697 92 45,Viet,Viet,1,0,0,0,0,0,0,0,0,0
118768,84903687027,090-368-7027,A. Aa Me SÆ°Æ¡ng,A. Aa Me SÆ°Æ¡ng,1,0,0,0,0,0,0,0,0,0
160405,84979600519,979600519,KÃ½ Ba HÃ ng,KÃ½ Ba HÃ ng,1,0,0,0,0,0,0,0,0,0
1001468,84939992391,939992391,Xuan An,Xuan An,1,0,0,0,0,0,0,0,0,0
651284,84377567812,377567812,GÃ¬ ÄÃ´,GÃ¬ ÄÃ´,1,0,0,0,0,0,0,0,0,0
823874,84907743267,907743267,Sá»¯a Nutriton,Sá»¯a Nutriton,1,0,0,0,0,0,0,0,0,0
30271,84906861116,906861116,Hiá»ƒn Quang,DÆ°Æ¡ng Hiá»ƒn Quang,0,0,0,0,0,0,0,0,0,0
164671,84965809668,096 580 96 68,Nhung ThÆ° KÃ½ C3,Nhung ThÆ° KÃ½ C3,1,0,0,0,0,0,0,0,0,0
614715,84983624585,098 362 45 85,! ChÃº Minh,! ChÃº Minh,1,0,0,0,0,0,0,0,0,0
488862,84353715246,353715246,Em Viáº¿t YÃªn LÃ£ng,Em Viáº¿t YÃªn LÃ£ng,1,0,0,0,0,0,0,0,0,0

In [41]:
phone['sum_report']=phone.report_advertising+phone.report_loan+phone.report_debt+phone.report_cheat+phone.report_real_estate+phone.report_other

In [42]:
phone.head()

,phone,phone_raw,name,name_list,from_contact,report_advertising,report_loan,report_debt,report_cheat,report_real_estate,report_other,report_not_spam,report_name_wrong,report_name_correct,sum_report
0,84785169744,84785169744,Nguyá»…n T Nga,Nguyá»…n Thá»‹ Nga\nNga,0,0,0,0,0,0,0,0,0,0,0
1,84345918901,84345918901,Nguyá»…n Anh Tuáº¥n 123,DÆ°Æ¡ng LÃ¢m Vy\r\nTuáº¥n Va\r\nGrooo Tuáº¥nva,0,0,0,0,0,0,0,0,0,0,0
2,84909437979,84909437979,Tuyáº¿t NgÃ¢n,Nguyá»…n Thá»‹ Tuyáº¿t NgÃ¢n,0,0,0,0,0,0,0,0,0,0,0
3,84982997171,982997171,Tráº§n Ngá»c ThiÃªn Anh,Tráº§n Ngá»c ThiÃªn Anh\nTráº§n Ngá»c ThiÃªn...,0,0,0,0,0,0,0,0,0,0,0
4,84813313687,84813313687,Tráº§n Ngá»c ThiÃªn Anh,Tráº§n Ngá»c ThiÃªn Anh\nTráº§n Ngá»c ThiÃªn...,0,0,0,0,0,0,0,0,0,0,0

In [43]:
phone['Spam']=(phone['sum_report']>0) & (phone.report_not_spam==0)
phone['Spam'].sum()
# (phone['sum_report']>0) & (phone.report_not_spam==0)

2669

In [44]:
phone.report_not_spam.index

RangeIndex(start=0, stop=1048575, step=1)

In [45]:
phone_spam=phone.loc[phone.Spam==1]
for i in phone_spam.phone:
    if (i in a.index):
        a.loc[i,'Spam']=1

In [46]:
a.Spam.sum()

593

In [47]:
a['avg_in_contact']=a.in_contact/a.sum_call

In [48]:
a['avg_in_contact']=a.in_contact/a.sum_call
a['avg_duration']=0.0
for i in a.index:
    if (a.call_to[i]+a.call_in[i])>0:
        a['avg_duration'][i]=a.duration[i]/(a.call_to[i]+a.call_in[i])

In [49]:
a['avg_duration_call_to']=a.duration_call_to/(a.call_to+0.0001+a.call_to_miss)
a['avg_duration_call_in']=a.duration_call_in/(a.call_in+0.0001+a.call_in_miss)

In [50]:
a['avg_success']=a.success/a.sum_call

In [51]:
a.columns

Index(['type', 'in_contact', 'duration', 'hour', 'day_of_week', 'in_hour',
       'success', 'call_to', 'call_in', 'call_to_miss', 'call_in_miss',
       'duration_call_to', 'duration_call_in', 'duration_call_to_miss',
       'duration_call_in_miss', 'sum_call', 'Spam', 'avg_in_contact',
       'avg_duration', 'avg_duration_call_to', 'avg_duration_call_in',
       'avg_success'],
      dtype='object')

In [52]:
featuers=['call_to', 'call_in', 'call_to_miss', 'call_in_miss','duration_call_to', 'duration_call_in','avg_duration_call_to', 'avg_duration_call_in','avg_in_contact','in_hour','avg_success','Spam']

In [53]:
b=a[featuers]
b

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
phone,,,,,,,,,,,,
84906806868,1.0,1.0,0.0,0.0,24.0,11.0,23.997600,10.998900,1.0,2,1.000000,0
84868173583,1.0,22.0,0.0,10.0,23.0,8387.0,22.997700,262.092931,1.0,33,0.696970,0
84898585959,4.0,3.0,8.0,1.0,1261.0,377.0,105.082458,94.247644,1.0,12,0.437500,0
84356386381,2.0,0.0,0.0,0.0,22.0,0.0,10.999450,0.000000,0.0,2,1.000000,0
84913101416,3.0,2.0,0.0,1.0,116.0,259.0,38.665378,86.330456,1.0,5,0.833333,0
...,...,...,...,...,...,...,...,...,...,...,...,...
84359963639,3.0,1.0,0.0,1.0,59.0,76.0,19.666011,37.998100,0.0,5,0.600000,0
84919904127,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,1.0,1,0.000000,0
84866824824,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,0.0,1,0.000000,0
84869056447,0.0,1.0,0.0,0.0,0.0,14.0,0.000000,13.998600,0.0,1,1.000000,0
84973563533,0.0,0.0,2.0,0.0,0.0,0.0,0.000000,0.000000,1.0,2,0.000000,0

In [54]:
# h=df.set_index('phone')

In [55]:
spam=b.loc[b.Spam==1]
spam.index

Index(['84989082183', '8.42473E+11', '8.42871E+11', '84979169738',
       '8.42863E+11', '84932735077', '84932719354', '84932721581',
       '84932705277', '84932739426',
       ...
       '84981693274', '84902546338', '84961282045', '84912129576',
       '84782986522', '84961254564', '84903743286', '84896161825',
       '84986664512', '84862141510'],
      dtype='object', name='phone', length=593)

In [56]:
# history_spam=h.loc[spam.index,:]

In [57]:
# history_spam.to_csv('history_spam.csv')

In [58]:
# spam.index

In [59]:
not_spam=b.loc[b.Spam!=1]
not_spam

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
phone,,,,,,,,,,,,
84906806868,1.0,1.0,0.0,0.0,24.0,11.0,23.997600,10.998900,1.0,2,1.000000,0
84868173583,1.0,22.0,0.0,10.0,23.0,8387.0,22.997700,262.092931,1.0,33,0.696970,0
84898585959,4.0,3.0,8.0,1.0,1261.0,377.0,105.082458,94.247644,1.0,12,0.437500,0
84356386381,2.0,0.0,0.0,0.0,22.0,0.0,10.999450,0.000000,0.0,2,1.000000,0
84913101416,3.0,2.0,0.0,1.0,116.0,259.0,38.665378,86.330456,1.0,5,0.833333,0
...,...,...,...,...,...,...,...,...,...,...,...,...
84359963639,3.0,1.0,0.0,1.0,59.0,76.0,19.666011,37.998100,0.0,5,0.600000,0
84919904127,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,1.0,1,0.000000,0
84866824824,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,0.0,1,0.000000,0
84869056447,0.0,1.0,0.0,0.0,0.0,14.0,0.000000,13.998600,0.0,1,1.000000,0
84973563533,0.0,0.0,2.0,0.0,0.0,0.0,0.000000,0.000000,1.0,2,0.000000,0

In [60]:
b.loc[b.Spam==1].index

Index(['84989082183', '8.42473E+11', '8.42871E+11', '84979169738',
       '8.42863E+11', '84932735077', '84932719354', '84932721581',
       '84932705277', '84932739426',
       ...
       '84981693274', '84902546338', '84961282045', '84912129576',
       '84782986522', '84961254564', '84903743286', '84896161825',
       '84986664512', '84862141510'],
      dtype='object', name='phone', length=593)

In [61]:
a.loc[a.duration_call_to_miss>0]

,type,in_contact,duration,hour,day_of_week,in_hour,success,call_to,call_in,call_to_miss,...,duration_call_in,duration_call_to_miss,duration_call_in_miss,sum_call,Spam,avg_in_contact,avg_duration,avg_duration_call_to,avg_duration_call_in,avg_success
phone,,,,,,,,,,,,,,,,,,,,,
8.42857E+11,1596,0,1299,6993,1634,436,23,3.0,33.0,489.0,...,1229.0,68.0,0.0,540.0,0,0.000000,36.083333,0.004065,25.604113,0.042593
8.42473E+11,2105,29,42620,13153,2563,925,589,485.0,86.0,424.0,...,4811.0,2639.0,0.0,1039.0,1,0.027911,74.640981,38.690865,37.007664,0.566891
8.42871E+11,2019,102,44968,13949,2690,807,685,511.0,214.0,224.0,...,16562.0,1233.0,0.0,1051.0,1,0.097050,62.024828,36.970063,52.411376,0.651760
84965303997,580,77,6106,3154,673,183,19,57.0,26.0,85.0,...,5852.0,9.0,0.0,222.0,0,0.346847,73.566265,1.725351,73.149909,0.085586
8.42863E+11,1593,127,40629,9510,1855,699,412,303.0,104.0,282.0,...,6250.0,950.0,0.0,748.0,1,0.169786,99.825553,57.143580,38.343535,0.550802
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84909973146,3,0,39,15,0,1,1,0.0,0.0,1.0,...,0.0,39.0,0.0,1.0,0,0.000000,0.000000,0.000000,0.000000,1.000000
84909427571,3,0,39,14,0,1,1,0.0,0.0,1.0,...,0.0,39.0,0.0,1.0,0,0.000000,0.000000,0.000000,0.000000,1.000000
84981694310,7,0,38,34,2,2,1,0.0,0.0,1.0,...,0.0,38.0,0.0,2.0,0,0.000000,0.000000,0.000000,0.000000,0.500000
84981694208,7,0,37,33,2,2,1,0.0,0.0,1.0,...,0.0,37.0,0.0,2.0,0,0.000000,0.000000,0.000000,0.000000,0.500000
84963366841,25,7,81,112,7,7,2,0.0,1.0,1.0,...,36.0,45.0,0.0,7.0,0,1.000000,81.000000,0.000000,5.999900,0.285714

In [62]:
data.loc[(data.type==3)&(data.duration!=0)]

,member_phone,phone,type,time,in_contact,duration
7522,8.436702e+10,84827368626,3,9/20/2020 15:35,0,61
7534,8.436702e+10,84974121266,3,9/9/2020 16:33,0,46
7570,8.436702e+10,84877258408,3,9/13/2020 10:02,0,20
7576,8.436702e+10,84974121266,3,9/9/2020 16:37,0,45
10280,8.496600e+10,84368358888,3,10/26/2020 9:20,0,46
...,...,...,...,...,...,...
1047431,8.497540e+10,84963366841,3,2/2/2021 16:54,1,45
1047450,8.497540e+10,84981694208,3,2/2/2021 16:03,0,37
1047453,8.497540e+10,84936869833,3,2/2/2021 15:43,0,12
1047456,8.497540e+10,84961816303,3,2/2/2021 13:44,0,38
1047467,8.497540e+10,84904681353,3,2/2/2021 10:42,0,43

In [63]:
# not_spab=b.loc[(b.Spam==0)&(a.call_in!=0)&(a.call_to!=0)].sample(607)
not_spam=b.loc[(b.Spam==0)].sample(607,random_state=1)
not_spam

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam
phone,,,,,,,,,,,,
84909402380,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,1.0,0,0.000000,0
8472657597,0.0,0.0,0.0,5.0,0.0,0.0,0.000000,0.000000,0.0,5,0.000000,0
84973346888,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,1.0,0,0.000000,0
8439953059,0.0,0.0,0.0,1.0,0.0,0.0,0.000000,0.000000,0.0,1,0.000000,0
84986115884,0.0,2.0,1.0,0.0,0.0,57.0,0.000000,28.498575,0.0,3,0.666667,0
...,...,...,...,...,...,...,...,...,...,...,...,...
84985232338,4.0,10.0,3.0,2.0,190.0,404.0,27.142469,33.666386,1.0,15,0.736842,0
84906771562,0.0,1.0,0.0,1.0,0.0,58.0,0.000000,28.998550,0.0,1,0.500000,0
84384988202,2.0,0.0,0.0,0.0,102.0,0.0,50.997450,0.000000,0.0,2,1.000000,0
84905480008,0.0,2.0,0.0,0.0,0.0,405.0,0.000000,202.489876,1.0,0,1.000000,0
84983782812,0.0,0.0,0.0,2.0,0.0,0.0,0.000000,0.000000,0.0,2,0.000000,0

In [64]:
data_icaller=pd.concat([spam, not_spam], axis=0)
data_icaller['phone']=data_icaller.index
# mer
# for i in data_icaller.index:
#     data_icaller['pagerank'][i]=pageranks.loc[pageranks.title==i,'pagerank']
# data_icaller

In [65]:
data_icaller

,call_to,call_in,call_to_miss,call_in_miss,duration_call_to,duration_call_in,avg_duration_call_to,avg_duration_call_in,avg_in_contact,in_hour,avg_success,Spam,phone
phone,,,,,,,,,,,,,
84989082183,4.0,9.0,28.0,41.0,10.0,119.0,0.312499,2.379995,1.000000,43,0.036585,1,84989082183
8.42473E+11,485.0,86.0,424.0,44.0,35170.0,4811.0,38.690865,37.007664,0.027911,925,0.566891,1,8.42473E+11
8.42871E+11,511.0,214.0,224.0,102.0,27173.0,16562.0,36.970063,52.411376,0.097050,807,0.651760,1,8.42871E+11
84979169738,1.0,5.0,0.0,3.0,97.0,358.0,96.990301,44.749441,1.000000,9,0.666667,1,84979169738
8.42863E+11,303.0,104.0,282.0,59.0,33429.0,6250.0,57.143580,38.343535,0.169786,699,0.550802,1,8.42863E+11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84985232338,4.0,10.0,3.0,2.0,190.0,404.0,27.142469,33.666386,1.000000,15,0.736842,0,84985232338
84906771562,0.0,1.0,0.0,1.0,0.0,58.0,0.000000,28.998550,0.000000,1,0.500000,0,84906771562
84384988202,2.0,0.0,0.0,0.0,102.0,0.0,50.997450,0.000000,0.000000,2,1.000000,0,84384988202
84905480008,0.0,2.0,0.0,0.0,0.0,405.0,0.000000,202.489876,1.000000,0,1.000000,0,84905480008
84983782812,0.0,0.0,0.0,2.0,0.0,0.0,0.000000,0.000000,0.000000,2,0.000000,0,84983782812

In [66]:
data_icaller.to_csv('data_icaller_12_feature.csv',index=False)

PermissionError: [Errno 13] Permission denied: 'data_icaller_12_feature.csv'

In [ ]:
data_icaller_test=a.sample(1000)

In [ ]:
data_icaller_test.to_csv('data_icaller_test.csv', index=False)

In [ ]:
data_icaller_test.shape[0]

In [ ]:
data_icaller_test

In [ ]:
data_icaller1200=pd.read_csv('data_icaller_12_feature.csv')
data_icaller1200

In [ ]:
not_spam_member=pd.read_csv('not_spam.csv')
not_spam_member

In [ ]:
data_icaller_1500=pd.concat([data_icaller1200, not_spam_member])

In [ ]:
data_icaller_1500.to_csv('data_icaller_1500.csv',index=False)